---
layout: default
---
{% assign post-list = '' %}
{% assign site_posts = site.posts %}

{% for post in site_posts %}

  {% assign director-include = 'false' %}

  {% if page.participation == 'Director' and post.author == 'Directors' %}
    {% assign director-include = 'true' %}
  {% endif %}

  {% if post.author == page.name or director-include == 'true' %}
    {% capture post-list %}{{ post-list }}{% include expo/related-post.html %}{% endcapture %}
  {% endif %}
{% endfor %}

{% unless page.projects.size == 0 %}
  {% assign projects = page.projects | sort: 'projectid' %}
  {% for post in site_posts %}
    {% for project in projects %}
      {% for tag in post.tags %}

        {% if tag == project.projectid %}
          {% unless post-list contains post.url %}
            {% capture post-list %}{{ post-list }}{% include expo/related-post.html %}{% endcapture %}
          {% endunless %}
        {% endif %}

      {% endfor %}
    {% endfor %}
  {% endfor %}
{% endunless %}

<section>
  <div class="content">
    <section class="left">
      <article role="article">
        <header>
          <h1>{{ page.name }}</h1>
          <section class="metainfo small bio">
            {% include expo/profile.html %}
          </section>
        </header>
        <div class="text">
          {{ content }}
        </div>
      </article>
    {% unless post-list.size == 0 %}
      <section class="related-posts">
        <h2>Related posts</h2>
        <ul>
          {{ post-list }}
        </ul>
      </section>
    {% endunless %}
    </section>
    <section class="right metainfo large bio">
      <aside>
        {% include expo/profile.html %}
      </aside>
    </section>
  </div>
</section>