{% if page.bodyid == 'home' %}
  {% assign title = 'ThoughtWorks Arts Residency' %}
{% else %}
  {% capture title %}{{ page.title }}{% endcapture %}
  {% if title == '' %}
    {% assign title = page.name | append: ' | ThoughtWorks Arts Residency' %}
  {% else %}
    {% assign title = page.title | append: ' | ThoughtWorks Arts Residency' %}
  {% endif %}
{% endif %}

{% capture image %}{{ page.image }}{% endcapture %}
{% if image == '' %}
  {% assign image = '/images/og_default.jpg' %}
{% else %}
  {% assign image = page.image %}
{% endif %}

{% capture description %}{{ page.description }}{% endcapture %}
{% if description == '' %}
  {% assign description = 'The ThoughtWorks Arts Residency supports artists exploring new lines of inquiry intersecting technology and society.' %}
{% else %}
  {% assign description = page.description %}
{% endif %}

{% if page.url contains site.banner-url %}
  {% assign display-banner = false %}
{% else %}
  {% assign display-banner = site.display-banner %}
{% endif %}

{% if display-banner %}
  {% capture bodyclass %}{{ page.bodyclass }} site-banner{% endcapture %}
  {% capture bodyclass %}{{ bodyclass | strip }}{% endcapture %}
{% else %}
  {% capture bodyclass %}{{ page.bodyclass }}{% endcapture %}
{% endif %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ title }}</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="Description" content="{{ description }}">

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@tw_arts" />
  <meta name="twitter:creator" content="@tw_arts" />
  <meta property="og:url" content="{{ site.url }}{{ page.url | replace:'index.html',''}}" />
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:image" content="{{ image }}" />
  <meta property="og:description" content="{{ description }}" />

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
  <!-- build:css({app,.tmp}) /stylesheets/style.css -->
  <link href="/stylesheets/site.css" rel="stylesheet">
  <!-- endbuild -->

  <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv-printshiv.min.js"></script>
    <![endif]-->
  <link rel="shortcut icon" href="/images/favicon.ico">
</head>

<body id="{{ page.bodyid }}" class="{{ bodyclass }}">
  <header role="banner" class="flex-col">
    <section id="logonav">
      <h1>ThoughtWorks Arts Residency</h1>
      <a href="/" class="logo">
        <img src="/images/twartsresidency.png" alt="ThoughtWorks Arts Residency" />
      </a>
      {% if display-banner %}
        <aside class="banner">
          <a href="{{ site.banner-url }}">{{ site.banner-text }}</a>
        </aside>
      {% endif %}
      <nav role="navigation">
        <h2>Navigation</h2>
        <a id="menu-button" href="#">
          <i class="fa fa-bars"></i>
          <i class="fa fa-times"></i>
        </a>
        <ul>
          <li><a href="/program/" class="program">Program</a></li>
          <li><a href="/residents/" class="residents">Residents</a></li>
          <li><a href="/projects/" class="projects">Projects</a></li>
          <li><a href="/blog/" class="blog">Blog</a></li>
        </ul>
      </nav>
    </section>
    <figure id="image-splash" class="bottom">
      {% if page.bodyid == 'home' %}
      <div class="intro-container">
        <p class="intro">A residency for artists exploring new technologies
          <br /><span class="space"> </span> and how they relate to society</p>
      </div>
      {% endif %}
    </figure>
  </header>
  <main>
  {{ content }}
  </main>
  <footer>
    {% include subscribe-email.html %}
    <ul class="social">
      <li>
        <a href="https://twitter.com/tw_arts"><i class="fa fa-twitter" id="twitter"></i></a>
      </li>
      <li>
        <a href="https://www.instagram.com/thoughtworksarts/"><i class="fa fa-instagram"></i></a>
      </li>
      <li>
        <a href="https://github.com/thoughtworksarts/"><i class="fa fa-github"></i></a>
      </li>
    </ul>
    <ul class="notices">
      <li>
        <a href="/newsletters">Newsletter Archive</a>
      </li>
      <li>
        <a href="https://www.thoughtworks.com/privacy-policy">Privacy Policy</a>
      </li>
    </ul>
  </footer>
  <!-- build:js(app) /javascript/script.js -->
  <script src="/javascript/jquery.js"></script>
  <script src="/javascript/site.js"></script>
  <script src="/javascript/analytics.js"></script>
  <!-- endbuild -->
</body>

</html>
