<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="Description" content="The ThoughtWorks Arts Residency supports artists exploring new lines of inquiry intersecting technology and society.">

  <title>{% if page.bodyid == 'home' %}ThoughtWorks Arts Residency{% else %}{{ page.title }} | ThoughtWorks Arts Residency{% endif %}</title>
  {% if page.description %}
  <meta name="description" content="{{ page.description }}">{% endif %}

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
  <!-- build:css({app,.tmp}) /stylesheets/style.css -->
  <link href="/stylesheets/site.css" rel="stylesheet">
  <!-- endbuild -->

  <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv-printshiv.min.js"></script>
    <![endif]-->
  <link rel="shortcut icon" href="/images/favicon.ico">
</head>

<body id="{{ page.bodyid }}" class="{{ page.bodyclass }}">
  <header role="banner" class="flex-col">
    <section id="logonav">
      <h1>ThoughtWorks Arts Residency</h1>
      <a href="/" class="logo">
        <img src="/images/twartsresidency.png" alt="ThoughtWorks Arts Residency" />
      </a>
      <nav role="navigation">
        <h2>Navigation</h2>
        <a id="menu-button" href="#">
          <i class="fa fa-bars"></i>
          <i class="fa fa-times"></i>
        </a>
        <ul class="cta">
          <li><a href="/program/" class="program appear">Program</a></li>
          <li><a href="/residents/" class="residents appear">Residents</a></li>
          <li><a href="/projects/" class="projects appear">Projects</a></li>
          <li><a href="/blog/" class="blog appear">Blog</a></li>
        </ul>
      </nav>
    </section>
    <figure id="image-splash" class="bottom">
      {% if page.bodyid == 'home' %}
      <div class="intro-container">
        <p class="intro">A residency for artists exploring new technologies
          <br /><span class="space"> </span> and how they relate to society</p>
      </div>
      {% endif %}
    </figure>
  </header>
  <main>
  {{ content }}
  </main>
  <footer>
    <div class="subscribe">
      <form class="newsletter" action="https://tinyletter.com/thoughtworksarts" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/thoughtworksarts', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
        <label for="tlemail">Keep up to date with residents and projects:</label>
        <input type="email" name="email" id="tlemail" value="your email" class="faded" />
        <input type="hidden" value="1" name="embed" />
        <input type="submit" value="Subscribe" id="tlsubmit" />
      </form>
    </div>
    <ul class="social">
      <li>
        <a href="https://twitter.com/tw_arts"><i class="fa fa-twitter" id="twitter"></i></a>
      </li>
      <li>
        <a href="https://www.instagram.com/thoughtworksarts/"><i class="fa fa-instagram"></i></a>
      </li>
      <li>
        <a href="https://github.com/thoughtworksresidency"><i class="fa fa-github"></i></a>
      </li>
    </ul>
    <ul class="notices">
      <li>
        <a href="https://www.thoughtworks.com/privacy-policy">Privacy Policy</a>
      </li>
    </ul>
  </footer>
  <!-- build:js(app) /javascript/script.js -->
  <script src="/javascript/jquery.js"></script>
  <script src="/javascript/site.js"></script>
  <script src="/javascript/analytics.js"></script>
  <!-- endbuild -->
</body>

</html>
