<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{ site.author.name }}">

    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Raleway:300,400,700,300italic,400italic" rel="stylesheet" type="text/css">
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
    <!-- build:css({app,.tmp}) /stylesheets/style.css -->
    <link href="/stylesheets/site.css" rel="stylesheet">
    <!-- endbuild -->

    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv-printshiv.min.js"></script>
    <![endif]-->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="/images/favicon.png">
  </head>
  <body id="{{ page.bodyid }}" class="{{ page.bodyclass }}">
    {% if page.bodyid == 'home' %}
    <div class="flex-col">
    {% endif %}
      <header role="banner" class="main top">
        <h1>
          <a href="/">
            Arts Residency Logo
          </a>
        </h1>
        <nav role="navigation">
          <h2>Navigation</h2>
          <a id="menu-button" href="#">
            <i class="fa fa-bars"></i>
            <i class="fa fa-times"></i>
          </a>
          <ul class="cta">
            <li><a href="/program/">Program</a></li>
            <li><a href="/residents/">Residents</a></li>
            <li><a href="/blog/">Blog</a></li>
          </ul>
        </nav>
      </header>
    {% if page.bodyid == 'home' %}
      <figure id="image-grid" class="bottom">
      </figure>
    </div>
    {% endif %}
    {{ content }}
    <section id="sponsors">
      <header>
        <h1>Sponsors</h1>
      </header>
      <p>We are supported by:</p>
      <ul>
        <li><a href="http://www.thoughtworks.com"><img src="/images/sponsors/thoughtworks.png" alt="ThoughtWorks" /></a></li>
        <li><a href="http://engineering.nyu.edu/"><img src="/images/sponsors/tandon.png" alt="NYU Tandon School of Engineering" /></a></li>
        <li><a href="http://www.microsoft.com"><img src="/images/sponsors/microsoft.png" alt="Microsoft" /></a></li>
        <li><a href="http://www.oreilly.com/"><img src="/images/sponsors/oreilly.png" alt="O'Reilly" /></a></li>
        <li class="vertical"><a href="http://www.meetup.com/volumetric"><img src="/images/sponsors/volumetric.png" alt="The Volumetric Society" /></a></li>
        <li><a href="http://new.livestream.com/"><img src="/images/sponsors/livestream.png" alt="Livestream" /></a></li>
        <li class="small"><a href="http://www.originmagazine.com/"><img src="/images/sponsors/origin.png" alt="Origin Magazine" /></a></li>
      </ul>
    </section>
    <!-- build:js(app) /javascript/script.js -->
    <script src="/javascript/jquery.js"></script>
    <script src="/javascript/site.js"></script>
    <script src="/javascript/analytics.js"></script>
    <!-- endbuild -->
  </body>
</html>