---
layout: default
---
<section>
  <header>
    <h1>Blog</h1>
  </header>
  <article role="article" itemscope itemtype="http://schema.org/BlogPosting">
    <header>
      <h1>{{ page.title }}</h1>
      <div class="widgets">
        <ul class="social">
          <li>
            <a href="http://twitter.com/share?text={{ page.title | uri_escape }}&amp;url=http://{{ site.name }}{{ page.url | uri_escape }}&amp;via=thoughtworks"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="http://www.facebook.com/sharer/sharer.php?title={{ page.title | uri_escape }}&amp;u=http://{{ site.name }}{{ page.url | uri_escape }}"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="http://www.tumblr.com/share?v=3&amp;t={{ page.title | uri_escape }}&amp;u=http://{{ site.name }}{{ page.url | uri_escape }}"><i class="fa fa-tumblr"></i></a>
          </li>
        </ul>
        {% capture author %}{{ page.author }}{% endcapture %}
        {% capture includefile %}blog-{{ page.author }}.html{% endcapture %}
        {% capture datetime %}{{ page.date | date: "%Y-%m-%d" }}{% endcapture %}
        {% capture datestr %}{{ page.date | date: "%A, %-d %B %Y" }}{% endcapture %}
        {% unless author == "" %}
          {% include {{includefile}} datetime=datetime datestr=datestr %}
        {% endunless %}
      </div>
    </header>
    <div class="post-content">
      {{ content }}
    </div>
  </article>

  <div class="progress cta">
    <a href="/blog/" class="blog">View all posts</a>
  </div>
</section>