---
layout: default
---
<section>
  <div class="content">
    <header>
      <h1>Blog</h1>
    </header>
    <article role="article">
      <header>
        <h1>{{ page.title }}</h1>
        {% include news/blog-attribution.html %}
      </header>
      <div class="text">
        {{ content }}
      </div>
      <section id="calls-to-action">
        <p>Keep on top of Thoughtworks Arts updates and articles:</p>
        <ul>
          <li><a href="/newsletters/">Subscribe to our newsletter</a></li>
          <li><a href="https://twitter.com/tw_arts">Follow us on Twitter</a></li>
          <li><a href="https://medium.com/thoughtworks-arts">Follow us on Medium</a></li>
        </ul>
      </section>
    </article>
    <div class="progress">
      <a href="/blog/" class="blog forwards">All posts</a>
    </div>
  </div>
</section>