---
layout: default
---
<section>
<div class="flex-row">
  <main class="left">
    <article role="article" itemscope itemtype="http://schema.org/BlogPosting">
      <header>
        <h1>{{ page.title }}</h1>
      </header>
      <div>
        <span>Team Members: <a href="https://google.com">Collaborator 1</a>,
          <a href="https://google.com">Collaborator 2</a>,
          <a href="https://google.com">Collaborator 3</a>
        </span>
      </div>
      <div class="post-content">
        {{ content }}
      </div>
      <hr />
    </article>
  </main>
</div>
<section id="image" class="right">
  <figure><img src="/images/icons/placeholder-hexagon.png" style="width: 20em;"></figure>
</section>
<hr />
<section>
<ul>
  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
  <li>Quisque eu tortor ut turpis gravida maximus sit amet vel mauris.</li>
  <li>Donec laoreet libero ut enim efficitur, id maximus metus varius.</li>
</ul>
</section>
</section>
