---
layout    : default
bodyid    : projects
bodyclass : content-page
---
{% assign artist = page.artists | first %}
<section class="flex-row expanded">
  <section class="left">
    <article role="article" itemscope itemtype="http://schema.org/BlogPosting">
      <header>
        <h1>{{ artist.name }}: {{ page.title }}</h1>
      </header>
      <section class="personnel small">
        {% include personnel.html %}
      </section>
      <div class="post-content">
        {{ content }}
      </div>
    </article>
    <section class="related-posts">
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Quisque eu tortor ut turpis gravida maximus sit amet vel mauris.</li>
        <li>Donec laoreet libero ut enim efficitur, id maximus metus varius.</li>
      </ul>
    </section>
    <div class="progress cta">
      <a href="/projects/" class="projects">View all projects</a>
    </div>
  </section>
  <section class="right personnel large">
    {% include personnel.html %}
  </section>
</section>