---
layout    : default
bodyid    : projects
bodyclass : content-page
---
{% assign artist = page.artists | first %}
<section class="flex-row expanded">
  <section class="left">
    <article role="article" itemscope itemtype="http://schema.org/BlogPosting">
      <header>
        <h1>{{ artist.name }}: {{ page.title }}</h1>
      </header>
      <section class="personnel small">
        {% include personnel/personnel.html %}
      </section>
      <div class="post-content">
        {{ content }}
      </div>
    </article>
    <section class="related-posts">
      <h2>Related posts</h2>
      <ul>
        {% assign site_posts = site.posts | reverse %}
        {% for post in site_posts %}
          {% for tag in post.tags %}
            {% if tag == page.projectid %}
              <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>
    </section>
    <div class="progress">
      <a href="/projects/" class="projects forwards">View all projects</a>
    </div>
  </section>
  <section class="right personnel large">
    {% include personnel/personnel.html %}
  </section>
</section>