<section class="listing-item reversed flex-row">
	<div class="image">
		<figure>
			<a href="/bio/hannes-bend/"><img src="/images/people/heather-dewey-hagborg.png" /></a>
		</figure>
	</div>
	<div class="text">
		<h2>Hannes Bend</h2>
		<p>Hannes Bend is an artist and lorem ipsum dolar sit amet, and has shown work internationally at venues including Ars Electronica.</p>
		<p>Her controversial biopolitical art practice includes the project <em>Stranger Visions</em> in which she created portrait sculptures from analyses of genetic material (hair, cigarette butts, chewed up gum) collected in public places.</p>
		{% if include.showmore == 'true' %}
		<div class="progress">
			<a href="/residents/" class="residents forwards">More</a>
		</div>
		{% endif %}
	</div>
</section>