<section class="listing-item flex-row">
	<div class="image">
		<figure>
			<a href="/bio/heather-dewey-hagborg/"><img src="/images/people/heather-dewey-hagborg.png" /></a>
		</figure>
	</div>
	<div class="text">
		<h2><a href="/bio/heather-dewey-hagborg/">Heather Dewey-Hagborg</a></h2>
		<p>Heather Dewey-Hagborg is an artist and educator who has shown work internationally at venues including Ars Electronica and MOMA PS1.</p>
		<p>Her controversial biopolitical art practice includes the project <em>Stranger Visions</em> in which she created portrait sculptures from analyses of genetic material (hair, cigarette butts, chewed up gum) collected in public places.</p>
	</div>
</section>