<section class="listing-item heather flex-row">
	<div class="image">
		<figure>
			<img src="/images/people/heather-dewey-hagborg.png" />
		</figure>
	</div>
	<div class="text">
		<h2>Heather Dewey-Hagborg</h2>
		<p>Heather Dewey-Hagborg is an artist and educator who has shown work internationally at venues including Ars Electronica and MOMA PS1.</p>
		<p>During her residency, Heather intends to develop SELL/BIO: a hybrid bioart/tactical media project investigating the transformation of human bodies into corporate profits, specifically the ethically controversial and largely unregulated practice of extracting and selling human DNA.</p>
		{% if include.showmore == 'true' %}
		<div class="progress cta">
			<a href="/residents/" class="residents forwards">More</a>
		</div>
		{% endif %}
	</div>
</section>