<section class="listing-item{% if group_members.size > 0 %} double-image{% endif %} alternating flex-row">
	<div class="image">	
		<figure>
			{% if group_members.size > 0 %}
				{% for member in group_members %}
					<a href="{{ member.url }}"><img src="/images/people/{{ member.photo }}" /></a>
				{% endfor %}
			{% else %}
				<a href="{{ resident.url }}"><img src="/images/people/{{ resident.photo }}" /></a>
			{% endif %}
		</figure>
	</div>
	<div class="text">
		<h2><a href="{{ resident.url }}">{{ resident.name }}</a></h2>
		{{ resident.teaser }}
	</div>
</section>