---
title      : Vote Now to Bring Thoughtworks Arts to South By SouthWest 2021
bodyid     : dancedemic
bodyclass  : landing-page normal-heading
description: "Vote now to support the inclusion of our panel \"Take Back the Net (Work): Lockdown=Innovation\" in the 2021 SXSW PanelPicker"
image      : /images/posts-special/dancedemic-sxsw/vote-for-dancedemic.jpg
---
<section>
   <div class="content">
      <header>
         <h1>Vote Now to Bring Thoughtworks Arts to South By SouthWest 2021</h1>
      </header>
      <div class="text">
         <p class="notice">Please note that the application period for this panel has now closed.</p>
         <p>Public voting is underway on panels for <a href="https://www.sxsw.com/">SXSW 2021</a>, which this time will be a fully online livestreamed event due to the ongoing pandemic. You can show support for bringing Thoughtworks Arts and Art-A-Hack to SXSW 2021 by voting now.</p>
         <p>To vote: <a href="https://id.sxsw.com/sign_up">register for the site</a> and <a href="https://panelpicker.sxsw.com/vote/107847">vote for our panel here</a>.</p>
         <h2>About the panel</h2>
         <p>Our proposed panel is <a href="https://panelpicker.sxsw.com/vote/107847">"Take Back the Net (Work): Lockdown = Innovation"</a>. This panel will explore amazing work incubated over six weeks this summer by newly-formed international teams of artists, performers and technologists during COVID-19 lockdown.</p>
      </div>

      {% include youtube id='aPwrJDgkJ2M'
         caption='Watch Recordings of DANCEDEMIC Performances' %}

      <div class="text">
         <p>These teams, working across India, Brazil, Estonia, the US and UK, integrated live biometrics into audio-visual livestream performances as part of the 39th annual Battery Dance Festival. This enabled two immigrant dancers now in the US to express their stories of adversity and empowerment through digitally augmented live performances.</p>

         <p>In this way, restrictions surrounding COVID-19 lockdown became the catalyst for global collaborations between artists and indie organizations.</p>
         <p>The panel will feature a dancer from Iraqi Kurdistan, an Estonian engineer pioneering innovative streaming technology, a US-based program director, and a technical producer, all of whom were members of of the “DANCEDEMIC” team who produced this pioneering work.</p>
      </div>

      {% include image file='/images/posts-special/dancedemic-sxsw/walk-with-me-project-team.jpg'
         caption='Teams work remotely with dancers in the studio' %}

      <div class="text">
         <p>The panel will explore challenges of global remote collaborations, networks as products and solutions, expanding the virtual body via biometrics, the democratization of streaming production and how it fostered a model for artistic and cultural engagement in the 2020s and beyond.</p>

         <h2>How to Vote</h2>
         <p>Voting is easy and can be done in a few short steps:</p>
         <ol>
            <li>If you don't already have an account, register for <a href="https://id.sxsw.com/sign_up">the SXSW "Panel Picker"</a><br /><br /></li>
            <li>Access our <a href="https://panelpicker.sxsw.com/vote/107847">panel proposal page</a> and click "VOTE UP" on the left<br /><br /></li>
            <li>Lastly, leave a message in the comments section at the bottom, explaining why you want to support our proposed panel</li>
         </ol>
         <p>The teams who assembled these incredible projects in just a few short weeks will be grateful for your support, as it will enable them to spread their stories far and wide.</p>
      </div>
   </div>
</section>




