{% if post == nil %}
  {% assign post = page %}
{% endif %}
{% capture datestr %}{{ post.date | date: "%A, %-d %B %Y" }}{% endcapture %}
<div class="widgets">
  <ul class="social">
    <li>
      <a href="http://twitter.com/share?text={{ post.title | uri_escape }}&amp;url=http://{{ site.name }}{{ post.url | uri_escape }}&amp;via=tw_arts"><i class="fa fa-twitter"></i></a>
    </li>
    <li>
      <a href="http://www.facebook.com/sharer/sharer.php?title={{ post.title | uri_escape }}&amp;u=http://{{ site.name }}{{ post.url | uri_escape }}"><i class="fa fa-facebook"></i></a>
    </li>
    <li>
      <a href="http://www.tumblr.com/share?v=3&amp;t={{ post.title | uri_escape }}&amp;u=http://{{ site.name }}{{ post.url | uri_escape }}"><i class="fa fa-tumblr"></i></a>
    </li>
  </ul>
  <figure class="empty">
    <figcaption>Newsletter sent on {{ datestr }}<br /><a href="https://tinyletter.com/thoughtworksarts/subscribe/">Subscribe here</a> for updates like this.</figcaption>
  </figure>
</div>