---
title	   : Newsletters
bodyid	   : blog
pagination :
  enabled	 : true
  collection : newsletters
---
<section>
	<header>
		<h1>Newsletters</h1>
	</header>
	<section class="subscribe-box">
		<h1 class="newsletter-heading">Newsletters</h1>
		<p>Newsletters are sent out once every quarter, and are archived below. Sign up to receive them in your email inbox:</p>
		<div class="subscribe">
		  <form class="newsletter-form" action="https://tinyletter.com/thoughtworksarts" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/thoughtworksarts', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
			<label for="tlemail">Keep up to date with residents and projects:</label>
			<input type="email" name="email" id="tlemail" value="your email" class="faded" />
			<input type="hidden" value="1" name="embed" />
			<input type="submit" value="Subscribe" id="tlsubmit" />
		  </form>
		</div>
	</section>
	{% for newsletter in paginator.posts %}
	<article role="article" itemscope itemtype="http://schema.org/BlogPosting">
		<header>
			<h1><a href="{{ newsletter.url }}">{{ newsletter.title }}</a></h1>
			{% include newsletters/widgets.html %}
		</header>
		<div class="text-content">
			{{ newsletter.excerpt }}
		</div>
		<div class="progress continue-reading">
			<a href="{{ newsletter.url }}" class="blog forwards">Continue reading</a>
		</div>
	</article>
	{% endfor %}

	{% if paginator.next_page or paginator.previous_page %}
		<ul id="paging" class="progress">
			{% if paginator.previous_page %}
				{% assign url = "/newsletters/" %}
				{% if paginator.previous_page > 1 %}
					{% assign url = "/newsletters/page" | append: paginator.previous_page %}
				{% endif %}
				<li><a href="{{ url }}" class="blog backwards">Previous page</a></li>
			{% endif %}

			{% if paginator.next_page and paginator.previous_page %}
				{% assign text = "Next page" %}
			{% elsif paginator.next_page %}
				{% assign text = "See more newsletters" %}
			{% endif %}

			{% if paginator.next_page %}
				<li><a href="/newsletters/page{{ paginator.next_page }}" class="blog forwards">{{ text }}</a></li>
			{% endif %}
		</ul>
	{% endif %}
</section>