---
title	   : Newsletters
bodyid	   : news
bodyclass  : landing-page
pagination :
  enabled	 : true
  collection : newsletters
description: Subscribe to the ThoughtWorks Arts newsletter to keep up to date with artists, projects, presentations, exhibitions and events.
---
<section>
	<div class="content">
		<header>
			<h1 class="blog">Newsletters</h1>
		</header>
		{% for newsletter in paginator.posts %}
		<article role="article">
			<header>
				<h1><a href="{{ newsletter.url }}">{{ newsletter.title }}</a></h1>
				{% include news/newsletter-date.html %}
			</header>
			<div class="text">
				{{ newsletter.excerpt }}
			</div>
			<div class="progress continue-reading">
				<a href="{{ newsletter.url }}" class="blog forwards">Continue reading</a>
			</div>
		</article>
		<section class="subscribe-box">
			{% include news/subscribe-email.html label='Get these newsletters in your inbox:' %}
		</section>
		{% endfor %}
	</div>

	{% include news/pagination.html folder='newsletters' %}
</section>