#alumni {
	main {
		width: 90%;
		padding-left: 5%;
		padding-right: 5%;
	}

	h1 {
		text-align: center;
	}

	.grid {
		margin-top: 2em;
		text-align: justify;
		position: relative; left: -0.5em;
		width: 100%;

		figure {
			display: inline-block;
			width: 17.5%;
			vertical-align: text-top;
			text-align: center;
			margin: 1.5% 3.57% 3% 3.57%;
		}

		figcaption {
			padding: 0;

			h2 {
				margin: 0.5em 0 0 0;
				font-size: 1.4em;
			}
		}

		p {
			font-size: 1.15em;
			padding: 0.6em 0 0.3em 0;
		}

		img {
			border-radius: 5em;
		}

		img, figcaption, p, ul {
			width: 100%;
			display: inline-block;
		}

		ul {
			list-style: none;
			list-style-type: none;
			display: inline-block;
			padding: 0.5em 0;

			li {
				display: inline-block;
				margin: 0 0.3em;

				i {
					font-size: 1.6em;
				}
			}
		}
	}
}

@media (max-width: 1299px) {
	#alumni {
		.grid {
			img {
				border-radius: 4em;
			}
		}
	}
}

@media (max-width: 1099px) {
	#alumni {
		.grid {
			figure {
				width: 18.3%;
				margin: 1.5% 3.15% 5% 3.15%;
			}
		}
	}
}

@media (max-width: 1019px) {
	#alumni {
		.grid {
			figure {
				width: 23%;
				margin: 1.5% 4.95% 5% 4.95%;
			}
		}
	}
}

@media (max-width: 789px) {
	#alumni {
		.grid {
			text-align: center;

			figure {
				width: 36%;
				margin: 1.5% 5% 5% 5%;
			}
		}
	}
}

@media (max-width: 559px) {
	#alumni {
		.grid {
			figure {
				width: 60%;
				margin: 0 auto 4.3em auto;
			}
		}
	}
}

@media (max-width: 509px) {
	#alumni {
		.grid {
			figure {
				width: 70%;
			}
		}
	}
}