.content {
	main {
		width: 63%;
		background-color: rgba(51, 51, 51, 0.08);
		font-weight: 300;
		padding: 4% 5% 6% 6%;

		h1 {
			margin: 0.8em 0 0.5em 0;
			font-weight: normal;
		}

		.cta {
			margin-top: 3em;

			li {
				margin-bottom: 1em;
			}

			a {
				font-size: 1.8em;
				margin-right: 0.2em;
				text-decoration: none;
			}
		}
	}

	.flex-row {
		display: flex;
		flex-flow: row;

		.left {
			width: 53%;
			flex: 0 0 auto;
		}

		.right {
			flex: 1 1 auto;
			position: relative;

			h1 {
				display: none;
			}

			figure {
				background: rgba(201, 201, 201, 0.3);
				background-size: 100% auto;
				width: 100%; height: 100%;
				position: absolute;
				margin: 0;
			}
		}
	}
}

@media (max-width: 1299px) {
	.content main {
		padding: 4% 8% 6% 8%;

		.cta a {
			font-size: 1.6em;
		}
	}
}

@media (max-width: 1099px) {
	.content {
		main {
			.cta a {
				font-size: 1.4em;
			}
		}
	}
}

@media (max-width: 899px) {
	.content {
		main {
			padding: 3% 5%;
			
			.cta {
				padding-bottom: 3em;
			}
		}

		.flex-row {
			.left {
				width: 59%;
			}
		}

		#paging {
			padding-left: 4em;
		}
	}
}

@media (max-width: 639px) {
	.content {
		.flex-row {
			.left {
				width: 90%;
				padding-left: 5%;
				padding-right: 5%;
			}

			.right {
				display: none;
			}
		}

		#paging {
			padding: 0 0 4em 2.5em;
		}

		main .cta a {
			font-size: 1.3em;
		}
	}
}

@media (max-width: 499px) {
	.content {
		#paging {
			padding: 0 0 3em 1.5em;
		}
	}
}