#blog {
	position: relative;

	.flex-col #image-splash {
		background-image: url('/images/full-bleed/writing-1400.jpg');
		background-position: 50% 50%;
	}

	article {
		margin-top: 3.5em;
	}

	article:first-of-type {
		margin-top: 0;
	}

	>section>header>h1 {
		display: none;
	}

	h2 {
		margin-top: 1em;
	}

	h2:before {
		display: none;
	}

	.widgets {
		margin: 0.75em 0 0.25em 0;
		position: relative;

		time {
			color: #AFAFAF;
			cursor: default;
			font-style: italic;
		}

		ul.social {
			list-style-type: none;
			padding: 0;
			display: inline;
			position: absolute; right: 0;
			margin-right: 0.4em;
		}

		li {
			display: inline;
		}

		a {
			margin-left: 0.8em;
			position: relative; top: -5px;
			transition: color 0.32s ease-out;
			width: 10px;
			font-size: 1.2em;
		}

		a:link, a:visited {
			color: #d3d3d3;
		}

		a:hover, a:active {
			color: #f5ac1d;
		}

		i {
			color: inherit;
		}
	}
}