.post {
	.flex-row .left {
		width: 62%;
	}

	main {
		article {
			width: 65%;

			header {
				.widgets {
					position: absolute; right: 84%;
					margin-top: 1.18em;

					ul.social {
						list-style-type: none;
						text-align: right;
						padding-top: 2.6em;
					}

					ul.social.simple {
						padding-top: 0.4em;
					}

					li {
						margin-bottom: 2.8em;
					}

					a:link, a:visited {
						opacity: 0.2;
						filter: alpha(opacity=20);
					}

					a:hover, a:active {
						opacity: 0.9;
						filter: alpha(opacity=90);
					}

					i {
						position: relative; top: -6%;
						font-size: 2.2em;
					}
				}
			}

			.post-content {
				blockquote {
					padding: 1em 0;
					margin: 0 2em;
					font-style: italic;
				}

				li {
					margin: 0 0 0 1em;
					padding-left: 0.4em;
				}

				ul, ol {
					margin: 0.5em 0.2em;
				}

				figure {
					text-align: center;
					margin-bottom: 1em;

					img, iframe {
						width: 98%;
						border: 4px solid #e8e8e8;
					}

					figcaption {
						margin-top: 18px;
						text-align: center;
					}
				}
			}

			.read-more {
				text-transform: uppercase;
			}
		}

		article, #paging {
			margin-left: 28%;
		}
	}
} 

@media (max-width: 1299px) {
	.post {
		.flex-row .left {
			width: 54%;
		}

		main {
			article {
				width: 90%;
				margin-left: 0;

				header {
					position: relative;

					.widgets {
						position: absolute; left: 0; right: inherit;
						text-align: left;
						margin-top: 0;

						ul.social {
							text-align: left;
							padding-top: 0.4em;
						}

						li {
							margin: 0 1em 0 0;
							display: inline-block;
						}
					}
				}

				.post-content {
					margin-top: 7em;
				}

				article, #paging {
					margin-left: 30%;
				}
			}
		}
	}

	#simple main article .post-content {
		margin-top: 5em;
	}
}

@media (max-width: 1099px) {
	.post {
		.flex-row .left {
			width: 52%;
		}

		main {
			article {
				width: 102%;

				header .widgets i {
					font-size: 2em;
				}

				.post-content {
					figure {
						img, iframe {
							width: 99%;
							border: 0;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 899px) {
	.post {
		.flex-row {
			.left {
				width: 90%;
				padding-left: 5%;
				padding-right: 5%;
			}

			.right {
				display: none;
			}
		}

		main {
			article {
				width: 36em;

				header {
					time {
						width: 17%;
					}

					.widgets i {
						font-size: 1.9em;
					}
				}

				.post-content {
					margin-top: 6em;
				}
			}

			.video {
				width: 100%;
			}
		}
	}
}

@media (max-width: 639px) {
	.post {
		main {
			article {
				width: 100%;

				header time {
					width: inherit;
					position: relative; left: 0;
				}
			}

			article, #paging {
				margin-left: 0;
			}
		}
	}
}