.content-page {
	background-image: url('/images/full-bleed/pattern-1600.png');
	background-position: 0 189px;
	background-repeat: no-repeat;

	header.flex-col {
		height: 189px;
		min-height: 0;

		#image-splash {
			background-image: inherit !important;
			background-color: #f4f4f4;
			margin: 0;
		}
	}

	>main>section:first-of-type {
		margin-top: 9.8em;
	}
}

@media (max-width: 1299px) {
	.content-page {
		background-position: 0 175px;

		header.flex-col {
			height: 175px;
		}

		>main>section:first-of-type {
			margin-top: 8.9em;
		}
	}
}

@media (max-width: 1099px) {
	.content-page {
		background-position: 0 160px;

		header.flex-col {
			height: 160px;
		}

		>main>section:first-of-type {
			margin-top: 8.3em;
		}
	}
}

@media (max-width: 899px) {
	.content-page {
		background-position: 0 114px;

		header.flex-col {
			height: 143px;
		}

		>main>section:first-of-type {
			margin-top: 5em;
		}
	}
}

@media (max-width: 639px) {
	.content-page {
		background-image: inherit;

		>main>section:first-of-type {
			margin-top: 1.9em;
		}
	}
}