#home {
	.flex-col {
		display: flex;
		flex-flow: column;
		height: 100%;
	}

	h1, h2, p {
		cursor: default;
	}

	#image-splash {
		flex: 1 0 auto;
		background-image: url('/images/full-bleed/residency-home-1600.jpg');
		background-position: 50% 24%;
		background-size: cover;
		background-color: #000000;
		background-repeat: no-repeat;
		margin: 0 0 4em 0;
		position: relative;

		.small-screens {
			display: none;
		}
	}

	.teaser {
		margin: 0 auto 9.5em 5em;
		width: 50%;

		.progress {
			text-align: right;
			padding: 0;

			a:link, a:visited {
				color: #000000;
			}

			a:after {
				background-size: 34px 39px;
				display: inline-block;
				width: 34px;
				height: 39px;
				content: '';
				position: relative; left: 8px; top: 13px;
			}
		}

		.progress.program {
			a:hover, a:active {
				color: #ac1f58;
			}

			a:after {
				background-image: url('/images/icons/arrow-purple.png');
			}
		}

		.progress.residents {
			a:hover, a:active {
				color: #00b1c3;
			}

			a:after {
				background-image: url('/images/icons/arrow-teal.png');
			}
		}
	}

	/* See also .residents */
}

@media (max-width: 1299px) {
	#home {
		#image-splash {
			background-image: url('/images/full-bleed/residency-home-1200.jpg');
		}

		#about-the-program {
			p {
				font-size: 2.6em;
				margin: 1.2em auto;
			}

			.progress {
				margin: 4.5em 0;
				
				a {
					font-size: 1.7em;
				}
			}
		}
	}
}

@media (max-width: 1099px) {
	#home {
		#about-the-program {
			p {
				font-size: 2.2em;
				margin: 1.2em auto;
			}

			.progress {
				margin: 6em 0 4.5em 0;

				a {
					font-size: 1.5em;
				}
			}
		}
	}
}

@media (max-width: 899px) {
	#home {
		#image-splash {
			background-image: url('/images/full-bleed/residency-home-800.jpg');
			background-position: 50% 55%;
		}

		#about-the-program {
			p {
				font-size: 1.9em;
				margin: 1.2em auto;
			}

			.progress {
				margin: 6em 0 4.5em 0;

				a {
					font-size: 1.4em;
				}
			}
		}
	}
}

@media (max-width: 639px) {
	#home {
		.flex-col {
			min-height: 400px;
			max-height: 100%; // Firefox mobile
		}

		#image-splash {
			background-image: url('/images/full-bleed/residency-home-560.jpg');
		}

		#about-the-program {
			p {
				font-size: 1.8em;
				margin: 2.5em auto;
			}

			.progress {
				a {
					font-size: 1.3em;
				}
			}
		}
	}
}

@media (max-width: 499px) {
	#home {
		#about-the-program {
			p {
				padding: 0 0.85em;
				font-size: 1.6em;
			}
		}
	}
}