#home {
	.flex-col {
		display: flex;
		flex-flow: column;
		height: 100%;
		min-height: 600px;
	}

	.flex-row {
		display: flex;
		flex-flow: row;

		section {
			width: 50%;
			flex: 1 1 auto;
		}
	}

	h1, h2, p {
		cursor: default;
	}

	#image-splash {
		flex: 1 0 auto;
		background-image: url('/images/full-bleed/residency-home-1600.jpg');
		background-position: 50% 24%;
		background-size: cover;
		background-color: #000000;
		background-repeat: no-repeat;
		margin: 0 0 2em 0;
		position: relative;

		.small-screens {
			display: none;
		}

		.intro-container {
			width: 100%;
			position: absolute; top: 50%; height: 10em; margin-top: 3em;
			//border: 1px dashed red;

			.intro {
				position: absolute; top: 50%; height: 6em; margin-top: -3em; left: 3.4em;
				//border: 1px dashed green;
				color: #eee;
				text-shadow: 0 0 9px black;
				font-size: 1.25em;
			}
		}
	}

	.teaser {
		margin: 2em auto 7.1em 5em;
		width: 674px;

		.intro {
			display: none;
		}

		.progress {
			text-align: right;
			padding: 0;

			a:link, a:visited {
				margin: 1.2em;
			}

			a:after {
				background-size: 34px 39px;
				display: inline-block;
				width: 34px;
				height: 39px;
				content: '';
				position: relative; left: 8px; top: 13px;
			}
		}

		.progress.program {
			a:after {
				background-image: url('/images/icons/arrow-purple.png');
			}
		}

		.progress.residents {
			a:after {
				background-image: url('/images/icons/arrow-teal.png');
			}
		}
	}

	/* See also .residents */
}

@media (max-width: 1299px) {
	#home {
		#image-splash {
			background-image: url('/images/full-bleed/residency-home-1200.jpg');

			.intro-container {
				margin-top: -1em;
			}
		}
	}
}

@media (max-width: 1099px) {
	#home {
		.flex-col {
			min-height: 540px;
		}

		.teaser {
			width: 661px;
			margin: 2em auto 7.5em 4.4em;
		}

		#image-splash {
			.intro-container .intro {
				font-size: 1.15em;
				left: 2.7em;
			}
		}
	}
}

@media (max-width: 999px) {
	#home {
		.flex-col {
			min-height: 576px;
		}

		#image-splash {
			background-image: url('/images/full-bleed/residency-home-800.jpg');
			background-position: 50% 55%;
		}

		.teaser {
			width: 80%;
			max-width: 650px;
			margin: 2.3em auto 6.5em 3em;
		}
	}
}

@media (max-width: 799px) {
	#home {
		#image-splash  .intro-container {
			display: none;
		}

		.teaser .intro {
			display: block;
		}
	}
}

@media (max-width: 639px) {
	#home {
		.flex-col {
			min-height: 500px;
			max-height: 100%; // Firefox mobile
		}

		#image-splash {
			background-image: url('/images/full-bleed/residency-home-560.jpg');
		}

		.teaser {
			width: 87%;
			margin: 2em auto 5em 1.9em;
		}
	}
}

@media (max-width: 639px) {
	#home {
		.teaser {
			width: 93%;
			margin: 2em auto 3.8em 1.3em;
		}

		#image-splash {
			margin: 0 0 2.7em 0;
		}
	}
}