body>section.listing {
	section {
		clear: both;
		margin-bottom: 1em;

		figure img {
			border: 0;
			width: 20em;
		}

		p, h2 {
			text-align: left;
			margin-right: 13%;
		}

		img {
			border: 2px solid #f8f8f8;
		}
	}

	section.listing-item {
		flex: 1 1 auto;
	}
}

@media (max-width: 999px) {
	body>section.listing {
		section.listing-item {
			flex-flow: inherit !important;
			flex: inherit !important;
			width: 100% !important;
			display: block !important;
			padding-top: 1em;

			figure {
				display: inline !important;
				position: inherit !important;
				margin: 1.5em 0;
			}

			h2 {
				margin: 2.2em 0 0.4em 0;
			}

			p {
				max-width: 37em;
			}
		}
	}
}

@media (max-width: 749px) {
	body>section.listing {
		section.listing-item {
			p, h2 {
				margin-right: 4%;
			}

			figure img {
				width: 45%;
			}
		}
	}
}