#projects.description {
	background-image: url('/images/full-bleed/blog-1600.png');
	background-position: 0 189px;
	background-repeat: no-repeat;

	.flex-col {
		height: 189px;
		min-height: 0;

		#image-splash {
			background-image: inherit;
			background-color: #f4f4f4;
			margin: 0;
		}
	}

	>section:first-of-type {
		margin-top: 9.8em;
	}

	#collaborators {
		margin-left: 20%;
		align-self: flex-end;
		margin-bottom: .7rem;

		figure > img {
			width: 18em;
		}

		figcaption{
			text-align: center;
			h3{
				font-size: 1.4em;
				margin-top: 0.8em;
			}
			p{
				font-size: 1.0em;
				margin-bottom: 2.0em;
			}
		}

	}
	#project-landing {
		width:100%;
	}
	#project-landing main{
		width:674px;
	}

}

#projects {
	#personnel-short {
		display: none;
	}
}

@media (max-width: 899px) {
	#projects {
		#personnel-short {
			display: block;
			border-top: 2px solid #c6c6c6;
			border-bottom: 2px solid #c6c6c6;
			margin-bottom: 1.5em;
			padding-bottom: 1em;
			position: relative;
			top: 0.6em;

			p {
				display: inline-block;
				padding-bottom: 0;
			}

			ul.personnel {
				display: inline;
				list-style-type: none;

				li {
					display: inline;
					margin: 0;
					padding: 0;
				}

				li:after {
					content: ',';
				}

				li:last-child:after {
					content: '';
				}
			}
		}
	}
}
