.project-url{
	a{
		margin: 140px 0 0.1em 0;
	    line-height: 1.2em;
	    font-family: 'Bebas Neue', sans-serif;
	    font-weight: 400;
	    position: relative;
	    color: #000;
	}

	a:link{
		text-decoration: none;
	}

	a:hover{
		text-decoration: underline;
	}

}

#projects header{
	> div{
		flex: auto;
	}
	display: flex;
}

ul.social{
		list-style:none;
		display: flex;
		justify-content: space-between;
		li{
			font-size:26px;
			flex: 1 0 15%;
		}
		li:first-child{
			margin-left:60%;
		}
}

@media (max-width: 749px) {
	#projects header{
		flex-direction: column;
	}

	ul.social{
		justify-content: flex-start;
		margin: 0%;
		li{
			font-size:20px;
			flex: 0 0 10%;
		}
		li:first-child{
			margin-left:0%;
		}
	}

}
