#projects.description {
	background-image: url('/images/full-bleed/blog-1600.png');
	background-position: 0 189px;
	background-repeat: no-repeat;

	.flex-col {
		height: 189px;
		min-height: 0;

		#image-splash {
			background-image: inherit;
			background-color: #f4f4f4;
			margin: 0;
		}
	}

	>section:first-of-type {
		margin-top: 9.8em;
	}
}