#program {
	.team {
		position: relative;

		figure {
			position: relative;
			margin: 2em 0;

			figcaption {
				position: absolute; top: 50%;
				transform: translateY(-50%);

				p, h2 {
					padding: 0.3em 4.5em 0.3em 42px;
					margin-top: 0;
				}

				h2:before {
					display: none;
				}
			}
		}
	}

	.mission h2 {
		display: none;
	}

	.flex-col #image-splash {
		background-image: url('/images/full-bleed/arduino-1400.jpg');
		background-position: 50% 24%;
	}
}

@media (max-width: 999px) {
	#program {
		.team {
			figure figcaption p {
				padding-right: 1.5em;
			}
		}
	}
}

@media (max-width: 899px) {
	#program {
		.team {
			figure figcaption {
				position: relative;
				transform: inherit;

				p, h2 {
					width: 80%;
					padding-left: 0;
				}
			}
		}
	}
}

@media (max-width: 739px) {
	#program {
		.team {
			figure figcaption {
				p, h2 {
					width: 92%;
				}
			}
		}
	}
}

@media (max-width: 639px) {
	#program {
		.team {
			figure figcaption {
				p, h2 {
					width: 100%;
				}
			}
		}
	}
}