#program {
	.mission h2 {
		display: none;
	}

	.flex-col {
		height: 67%;
		min-height: 300px;

		#image-splash {
			flex: 1 0 auto;
			background-image: url('/images/full-bleed/arduino-1400.jpg');
			background-position: 50% 24%;
			background-size: cover;
			background-color: #000000;
			background-repeat: no-repeat;
			margin: 0 0 2em 0;
			position: relative;
		}
	}
}

@media (max-width: 1179px) {
	#program {
		main {
			figure {
				img {
					width: 70%;
				}

				figcaption {
					padding: 0.9em 5%;
					font-size: 1.1em;

					strong {
						line-height: 1.8em;
					}
				}
			}
		}
	}
}

@media (max-width: 1099px) {
	#program {
		main {
			figure {
				margin-top: 2.4em;

				img {
					border-radius: 3em;
				}
			}
		}
	}
}

@media (max-width: 999px) {
	#program {
		main {
			figure {
				margin-top: 1.8em;

				img {
					width: 78%;
				}

				figcaption {
					font-size: 1em;
				}
			}
		}
	}
}

@media (max-width: 839px) {
	#program {
		main {
			figure {
				img {
					width: 84%;
				}

				figcaption {
					font-size: 0.9em;
				}
			}
		}
	}
}

@media (max-width: 749px) {
	#program {
		main {
			aside {
				margin-top: 2em;
				text-align: center;

				>p {
					margin-bottom: 1.6em;
				}

				figure {
					display: inline;
					width: 100%;
					margin-bottom: 1em;

					img {
						width: 260px;
					}

					figcaption {
						font-size: 1em;
						padding: 0.9em 0 3.4em 0.6em;

						strong {
							font-size: 1.4em;
							line-height: 2.4em;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 389px) {
	#program {
		main {
			aside {
				figure {
					img {
						width: 100%;
					}
				}
			}
		}
	}
}