#program {
	.team {
		position: relative;

		figure {
			position: relative;
			margin: 2em 0;

			figcaption {
				position: absolute; top: 50%;
				transform: translateY(-50%);

				p {
					padding: 0.3em 4.5em 0.3em 2.5em;
				}
			}
		}
	}

	.mission h2 {
		display: none;
	}

	.flex-col {
		height: 67%;
		min-height: 300px;

		#image-splash {
			flex: 1 0 auto;
			background-image: url('/images/full-bleed/arduino-1400.jpg');
			background-position: 50% 24%;
			background-size: cover;
			background-color: #000000;
			background-repeat: no-repeat;
			margin: 0 0 2em 0;
			position: relative;
		}
	}
}

@media (max-width: 999px) {
	#program {
		.team {
			figure figcaption p {
				padding-right: 1.5em;
			}
		}
	}
}

@media (max-width: 899px) {
	#program {
		.team {
			figure figcaption p {
				padding-right: 0.5em;
			}
		}
	}
}