#projects {
	#image-splash {
		background-image: url('/images/full-bleed/arduino-1400.jpg');
		background-position: 50% 24%;
	}

	#personnel {
		margin-left: 20%;
		margin-bottom: .7rem;

		figure>img {
			width: 18em;
		}

		h2 {
			display: none;
		}

		figcaption{
			text-align: center;

			.name {
				font-size: 1.4em;
				margin-top: 0.8em;
				margin-bottom: 0em;
			}

			.role {
				font-size: 1.0em;
				padding-bottom: 0;
			}
		}

		ul.links {
			list-style: none;
			padding: 0.5rem 0;
			display: flex;
			justify-content: center;
			margin-left: 0;

			li {
				display: inline-block;
				padding: 0 7px;
			}
		}

	}

	#project-landing {
		width: 100%;
	}

	#project-landing main{
		width: 674px;
	}

	#personnel-short {
		display: none;
	}
}

@media (max-width: 899px) {
	#projects {
		#personnel-short {
			display: block;
			border-top: 2px solid #c6c6c6;
			border-bottom: 2px solid #c6c6c6;
			margin-bottom: 1.5em;
			padding-bottom: 1em;
			position: relative;
			top: 0.6em;

			p {
				display: inline-block;
				padding-bottom: 0;
			}

			ul.personnel {
				display: inline;
				list-style-type: none;

				li {
					display: inline;
					margin: 0;
					padding: 0;
				}

				li:after {
					content: ',';
				}

				li:last-child:after {
					content: '';
				}
			}
		}

		#personnel {
			display: none;
		}
	}
}
