.listing.projects {
	.listing-item {
		h2 {
			a {
				font-family: 'Bebas Neue', sans-serif;
				color: #000;
			}

			a:link {
				text-decoration: none;
			}

			a:hover {
				text-decoration: underline;
			}
		}
	}
}