#home>.residents, #residents>.residents {
	width: 1050px;

	section {
		clear: both;
		margin-bottom: 5em;

		figure {
			img {
				border: 0;
				width: 20em;
			}
		}

		figure.moon {
			position: relative; top: -8em; left: 4em;
		}

		p {
			margin: 1.2em 4em 1.2em 0;
			font-size: 1.15em;
			padding: 0.6em 0 0.3em 0;
		}

		p, h2 {
			text-align: left;
		}

		h2 {
			position: relative;
			margin-top: 124px;
		}

		h2.heather {
			margin-top: 56px;
		}

		h2:before {
			background-size: 70px 80px;
			display: inline-block;
			width: 70px;
			height: 80px;
			content: '';
			position: absolute; top: -100px;
			background-image: url('/images/icons/arrow-black.png');
		}

		img {
			border: 2px solid #F8F8F8;
		}
	}
}

#residents .residents {
	h1 {
		display: none;
	}
}

@media (max-width: 1299px) {
	#residents {
		.grid {
			img {
				border-radius: 4em;
			}
		}
	}
}

@media (max-width: 1099px) {
	#residents {
		.grid {
			figure {
				width: 18.3%;
				margin: 1.5% 3.15% 5% 3.15%;
			}
		}
	}
}

@media (max-width: 1019px) {
	#residents {
		.grid {
			figure {
				width: 23%;
				margin: 1.5% 4.95% 5% 4.95%;
			}
		}
	}
}

@media (max-width: 789px) {
	#residents {
		.grid {
			text-align: center;

			figure {
				width: 36%;
				margin: 1.5% 5% 5% 5%;
			}
		}
	}
}

@media (max-width: 559px) {
	#residents {
		.grid {
			figure {
				width: 60%;
				margin: 0 auto 4.3em auto;
			}
		}
	}
}

@media (max-width: 509px) {
	#residents {
		.grid {
			figure {
				width: 70%;
			}
		}
	}
}