body>section.residents {
	section {
		clear: both;
		margin-bottom: 1em;

		figure img {
			border: 0;
			width: 20em;
		}

		figure.moon {
			margin: -8em 0 0 4em !important;
		}

		p, h2 {
			text-align: left;
			margin-right: 13%;
		}

		img {
			border: 2px solid #f8f8f8;
		}
	}

	section.resident {
		width: 50%;
		flex: 1 1 auto;
	}

	section.cyborg {
		figure {
			order: 2;
		}

		p, h2 {
			order: 1;
		}
	}

	section.heather {
		padding-top: 7.3em;

		h2 {
			margin-top: 56px;
		}
	}
}

#residents {
	.flex-col #image-splash {
		background-image: url('/images/full-bleed/oculus-1400.jpg');
		background-position: 34% 50%;
	}
}

@media (max-width: 999px) {
	body>section.residents section.heather {
		margin-left: 6%;
	}
}

@media (max-width: 899px) {
	body>section.residents {
		.flex-row {
			section.flex-col {
				flex-flow: inherit !important;
				flex: inherit !important;
				width: 100% !important;
				display: block !important;
				padding-top: 1em;

				figure {
					display: inline !important;
					position: inherit !important;
					margin: 1.5em 0;
				}

				h2 {
					margin: 2.2em 0 0.4em 0;
				}
			}
		}

		section.cyborg {
			figure {
				order: 1;
			}

			figure.moon {
				margin-left: 1em !important;
			}

			p, h2 {
				order: 2;
			}
		}

		section.heather {
			margin-left: 0;
		}
	}
}

@media (max-width: 749px) {
	body>section.residents {
		section {
			p, h2 {
				margin-right: 4%;
			}

			figure img {
				width: 45%;
			}
		}

		section.heather {
			figure img {
				width: 50%;
			}
		}
	}
}