body>section.listing.residents {
	section {
		figure.moon {
			margin: -9.9em 0 0 11.3em !important;
		}
	}

	section.listing-item.resident {
		flex: 1 1 auto;
	}

	section.listing-item.cyborg {
		.image {
			order: 2;
		}

		.text {
			order: 1;
		}
	}

	section.listing-item.heather {
		padding-top: 5em;

		.text {
			padding-left: 3.3em;

			h2 {
				margin-top: 56px;
			}
		}
	}
}

#residents {
	.flex-col #image-splash {
		background-image: url('/images/full-bleed/oculus-1400.jpg');
		background-position: 34% 50%;
	}
}

@media (max-width: 999px) {
	body>section.listing.residents {
		section.listing-item.cyborg {
			figure {
				order: 1;
			}

			figure.moon {
				margin-left: 1em !important;
			}

			p, h2 {
				order: 2;
			}
		}

		section.listing-item.heather {
			margin-left: 0;

			.text {
				padding-left: 0;
			}
		}
	}
}

@media (max-width: 749px) {
	body>section.listing.residents {
		section.listing-item.heather {
			figure img {
				width: 50%;
			}
		}
	}
}