<nav class="navigation">
  <h2>Navigation</h2>
  <a id="menu-button" href="#" aria-hidden="true">
    <i class="fa fa-bars"></i>
    <i class="fa fa-times"></i>
  </a>
  <div class="overlay">
    <ul>
      <li><a href="/programs/" class="programs"><span>Programs</span></a></li>
      <li><a href="/residents/" class="residents"><span>Residents</span></a></li>
      <li><a href="/projects/" class="projects"><span>Projects</span></a></li>
      <li><a href="/blog/" class="blog"><span>News</span></a></li>
    </ul>
  </div>
</nav>