<nav class="social-links">
  <h2>Social Media</h2>
  <ul>
    <li><a href="https://twitter.com/tw_arts" aria-label="Twitter"><i class="fab fa-twitter" id="twitter" aria-hidden="true"></i></a></li>
    <li><a href="https://facebook.com/thoughtworksarts/" aria-label="Facebook"><i class="fab fa-facebook-f" id="facebook" aria-hidden="true"></i></a></li>
    <li><a href="https://github.com/thoughtworksarts/" aria-label="Github"><i class="fab fa-github-alt" id="github" aria-hidden="true"></i></a></li>
    <li><a href="https://medium.com/thoughtworksarts/" aria-label="Medium"><i class="fab fa-medium-m" id="medium" aria-hidden="true"></i></a></li>
    <li><a href="https://instagram.com/thoughtworksarts/" aria-label="Instagram"><i class="fab fa-instagram" id="instagram" aria-hidden="true"></i></a></li>
  </ul>
</nav>