<nav class="social-links">
  <h2>Social Media</h2>
  <ul>
    <li><a href="https://twitter.com/tw_arts"><i class="fab fa-twitter" id="twitter"></i></a></li>
    <li><a href="https://facebook.com/thoughtworksarts/"><i class="fab fa-facebook-f" id="facebook"></i></a></li>
    <li><a href="https://github.com/thoughtworksarts/"><i class="fab fa-github-alt" id="github"></i></a></li>
    <li><a href="https://medium.com/thoughtworksarts/"><i class="fab fa-medium-m" id="medium"></i></a></li>
    <li><a href="https://instagram.com/thoughtworksarts/"><i class="fab fa-instagram" id="instagram"></i></a></li>
  </ul>
</nav>