---
layout    : default
title     : Residents - ThoughtWorks Arts Residency
bodyid    : "residents"
bodyclass : "content post"
---
<section>
	<header>
		<h1>2016 residents</h1>
	</header>
	<p>Each season of the program, we will be supporting two sets of residents for 16-week cycles. The first season is spread across summer and fall of 2016.</p>
	<p>For our initial season we are delighted to supporting two sets of influential artists working on important contemporary issues. Our focus in this season is in the body and it's relationship to technology.</p>
	<p>As residents progress through thier projects week by week, updates will be posted to the <a href="/blog/">blog</a>. At the completion of each residency, an archive will be created here on this page of project documentation, thoughts, reflections and outcomes.</p>
</section>
<section class="residents expanded">
	{% include residents-cyborg.html %}
	{% include residents-heather.html %}
</section>