#image-splash {
	flex: 1 0 auto;
	background-size: cover;
	background-color: $black;
	background-repeat: no-repeat;
	margin: 0;
	position: relative;
}

#news #image-splash {
	background-image: url('/images/full-bleed/banner-a-1400.jpg');
	background-position: 48% 50%;
}

#programs #image-splash {
	background-image: url('/images/full-bleed/banner-c-1400.jpg');
	background-position: 90% 50%;
}

#residents #image-splash {
	background-image: url('/images/full-bleed/banner-d-1400.jpg');
	background-position: 100% 100%;
}

#expo #image-splash {
	background-image: url('/images/full-bleed/banner-spring-break-1400.jpg');
	background-position: 50% 83%;
}

#spring-break #image-splash {
	background-image: url('/images/full-bleed/banner-spring-break-1400.jpg');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

#dancedemic #image-splash {
	background-image: url('/images/full-bleed/banner-dancedemic-1400.jpg');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

#mars-open-call #image-splash {
	background-image: url('/images/full-bleed/banner-mars-1400.jpg');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

@media (max-width: 1299px) {
	#programs #image-splash {
		background-position: 100% 50%;
	}
}

@media (max-width: 999px) {
	#programs #image-splash {
		background-position: 70% 50%;
	}
}

@media (max-width: 829px) {
	#programs #image-splash {
		background-position: 50% 50%;
	}
}

@media (max-width: 659px) {
	#programs #image-splash {
		background-position: 30% 50%;
	}
}