.landing-page {
	>header {
		height: 63%;
		min-height: 605px;
	}
}

body:not(.landing-page) {
	>main>section:first-of-type {
		background: linear-gradient($grey-light1, $transparent) top/100% 4px no-repeat,
					url('/images/full-bleed/pattern-1600.png') no-repeat top;
		box-shadow: inset 0 0 50px -15px rgba(0, 0, 0, 0.05);
		border-top: $header-divider-size solid $grey-light1;
	}
}

body.site-banner>header {
	margin-bottom: $header-banner-size;

	.banner {
		background-color: $maroon;
		width: 100%;
		text-align: center;
		position: absolute;
		bottom: -$header-banner-size;
		z-index: $up1;

		a {
			height: 28px;
			padding: 13px;
			color: $white;
			display: block;
			z-index: $up5;
			position: relative;
			text-decoration: underline;
			font-weight: bold;
		}

		a:link, a:visited {
			text-decoration: underline;
		}

		a:hover, a:active {
			text-decoration: none;
		}
	}
}

body.site-banner:not(.landing-page) {
	>main>section:first-of-type {
		border-top: 0 !important;
	}
}

body.site-banner.landing-page {
	>header {
		margin-bottom: 0 !important;
	}
}

#logonav {
	height: 155px;
	position: relative;

	h1, h2 {
		display: none;
	}

	a:link i, a:visited i {
		color: $grey-light2;
	}

	a:hover i, a:active i {
		color: $black;
	}

	.logo {
		position: absolute; bottom: 0; left: 0;
		line-height: 0;
		margin: 0 0 1.2em 1.2em;

		img {
			height: 6.1em;
		}
	}

	.strap {
		position: absolute; bottom: 0.2em; right: -1.1em;
		font-style: italic;
		color: $grey-mid;
	}

	.social-links {
		top: 0;
		margin: 1em 0.9em;

		li {
			margin-left: 0.1em;
			width: 40px; height: 40px;
		}

		a {
			width: 40px; height: 40px;
			font-size: $header-social-font-size;
		}

		a:hover, a:active {
			font-size: $header-social-bump-font-size;
		}
	}

	.navigation {
		position: absolute; bottom: 0; right: 0;
		margin: 1em 1.5em 0.4em 1.5em;

		#menu-button {
			display: none;
		}

		ul {
			padding: 0;
			margin: 0;
			line-height: inherit;
			font-size: inherit;
			letter-spacing: inherit;

			li {
				display: inline;

				a {
					text-decoration: none;
					position: relative; top: 0;
					height: 84px;
					display: inline-flex;
					align-items: flex-end;
					padding: 0 1em;

					span {
						font-family: $bebas;
						text-transform: uppercase;
						font-size: $header-navigation-font-size;
						letter-spacing: 0.03em;
					}
				}

				a::before {
					background-size: 17px 34px;
					display: inline-block;
					width: 17px;
					height: 34px;
					content: '';
					position: relative; left: 18px; top: 20px;
					opacity: 0;
				}

				a:hover, a:active {
					top: 4px;
					height: 88px;
				}

				a:hover::before, a:active::before {
					opacity: 1;
					top: -37px;
				}

				a, a::before, a::after {
					transition: all 0.18s ease-out;
				}

				a.programs::before {
					background-image: url('/images/icons/diamond-purple.png');
				}

				a.residents::before {
					background-image: url('/images/icons/diamond-teal.png');
				}

				a.projects::before {
					background-image: url('/images/icons/diamond-green.png');
				}

				a.blog::before {
					background-image: url('/images/icons/diamond-canary.png');
				}

				a.blog {
					padding-right: 0;
				}
			}
		}
	}
}

@media (max-width: 1299px) {
	.landing-page>header {
		height: 50%;
		min-height: 500px;
	}
}

@media (max-width: 1129px) {
	#logonav {
		.navigation ul li a {
			padding: 0 0.2em;
		}

		.logo img {
			height: 5.8em;
		}

		.logo {
			margin: 13px 18px;
		}

		.strap {
			right: -1.6em;
		}
	}
}

@media (max-width: 1029px) {
	#logonav {
		height: 138px;
		background-color: $white;

		.logo img {
			height: 5.8em;
		}

		.logo {
			margin: 13px 18px;
		}

		.navigation {
			#menu-button {
				display: block;
				text-decoration: none;
				z-index: $up4;
				position: relative; right: -0.1em; bottom: 0.9em;

				i {
					font-size: $header-social-font-size;
				}

				.fa-bars {
					display: block;
					transition: all 0.18s ease;
				}

				.fa-times {
					color: $white;
					display: none;
				}
			}

			ul {
				display: none;
			}
		}

		.navigation.popout {
			#menu-button {
				text-decoration: none;
				position: relative;
				z-index: $up5;

				.fa-bars {
					display: none;
				}

				.fa-times {
					display: block;
					color: $white;
				}
			}

			.overlay {
				display: block;
				position: fixed; top: 0; left: 0; bottom: 0; right: 0;
				width: 100%; height: 100%;
				text-align: center;
				background-color: rgba(68, 68, 68, 0.96);
				z-index: $up4;

				ul {
					z-index: $up5;
					display: flex;
					flex-direction: column;
					height: 100%;

					li {
						flex-grow: 1;
					}

					li:first-of-type {
						margin-top: 130px;
					}

					a {
						padding: 0;
						height: inherit;
						position: inherit;
					}

					a, a::before, a::after {
						transition: inherit;
					}

					a::before {
						background-image: inherit;
						display: none;
					}
				}
			}
		}
	}
}

@media (max-width: 749px) {
	#logonav {
		height: 127px;

		.logo img {
			height: 5.2em;
		}

		.social-links {
			display: none;
		}

		.strap {
			right: -3.1em;
		}
	}
}

@media (max-width: 639px) {
	.landing-page>header {
		height: 50%;
		min-height: 420px;
	}

	body:not(.landing-page) {
		>main>section:first-of-type {
			background: inherit;
		}
	}
}

@media (max-width: 499px) {
	body.site-banner>header {
		margin-bottom: 0;

		.banner {
			display: none;
		}
	}

	body.site-banner:not(.landing-page) {
		>main>section:first-of-type {
			border-top: $header-divider-size solid $grey-light1;
		}
	}

	body:not(.landing-page) {
		>main>section:first-of-type {
			box-shadow: inherit;
			border-top: 0;
		}
	}

	#logonav {
		height: 121px;
		text-align: center;
		border-bottom: $header-border-size solid $grey-light1;

		.logo, .navigation {
			width: 100%;
			margin: 0;
		}

		.logo {
			position: inherit;

			img {
				margin-top: 1.2em;
				height: 4.8em;
			}
		}

		.strap {
			right: 0.6em;
			bottom: 0;
		}

		.navigation {
			position: absolute;
			bottom: -$header-border-size;
			height: $header-border-size;

			#menu-button {
				top: 50%;
				transform: translateY(-50%);
				left: 0; bottom: 0; right: 0;
				width: 100%;

				i {
					color: $grey-mid;
				}
			}
		}

		.navigation.popout .overlay ul li:first-of-type {
			margin-top: 224px;
		}
	}
}

@media (max-width: 429px) {
	.landing-page>header {
		height: 45%;
		min-height: inherit;
	}

	#logonav {
		height: auto;

		.logo img {
			height: auto;
			width: 90%;
			margin-bottom: 6px;
		}

		.strap {
			display: none;
		}
	}
}