.spring-break-header-image {
	#image-splash {
		background-image: url('/images/full-bleed/banner-spring-break-1400.jpg');
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}
}

body:not(.splash-image) {
	>main>section:first-of-type {
		background:
			linear-gradient($grey-light1, transparent) top/100% 4px no-repeat,
			url('/images/full-bleed/pattern-1600.png') no-repeat top;
		box-shadow: inset 0 0 50px -15px rgba(0,0,0,0.05);
		border-top: $header-divider-size solid $grey-light1;
	}
}

@media (max-width: 1299px) {
	body:not(.splash-image) {
		background-position: 0 175px;

		>header.flex-col {
			height: 175px;
		}

		>main>section:first-of-type {
			margin-top: 8.9em;
		}
	}
}

@media (max-width: 1099px) {
	body:not(.splash-image) {
		background-position: 0 160px;

		>header.flex-col {
			height: 160px;
		}

		>main>section:first-of-type {
			margin-top: 8.3em;
		}
	}
}

@media (max-width: 899px) {
	body:not(.splash-image) {
		background-position: 0 114px;

		>header.flex-col {
			height: 143px;
		}

		>main>section:first-of-type {
			margin-top: 5em;
		}
	}
}

@media (max-width: 639px) {
	body:not(.splash-image) {
		background-image: inherit;

		>main>section:first-of-type {
			margin-top: 1.9em;
		}
	}
}