/* Landing pages */
/* ============= */

#image-splash {
	flex: 1 0 auto;
	background-size: cover;
	background-color: $black;
	background-repeat: no-repeat;
	margin: 0;
	position: relative;
}

#news #image-splash {
	background-image: url('/images/full-bleed/banner-a-1400.jpg');
	background-position: 48% 50%;
}

#programs #image-splash {
	background-image: url('/images/full-bleed/banner-d-1400.jpg');
	background-position: 100% 100%;
}

#residents #image-splash {
	background-image: url('/images/full-bleed/banner-c-1400.jpg');
	background-position: 10% 50%;
}

#expo #image-splash {
	background-image: url('/images/full-bleed/banner-spring-break-1400.jpg');
	background-position: 84% 83%;
}

@media (max-width: 999px) {
	#expo #image-splash {
		background-position: 53% 83%;
	}
}

#spring-break #image-splash {
	background-image: url('/images/full-bleed/banner-spring-break-1400.jpg');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

/* Non-landing pages */
/* ================= */

body:not(.landing-page) {
	>main>section:first-of-type {
		background:
			linear-gradient($grey-light1, transparent) top/100% 4px no-repeat,
			url('/images/full-bleed/pattern-1600.png') no-repeat top;
		box-shadow: inset 0 0 50px -15px rgba(0,0,0,0.05);
		border-top: $header-divider-size solid $grey-light1;
	}
}

@media (max-width: 639px) {
	body:not(.landing-page) {
		>main>section:first-of-type {
			background: inherit;
		}
	}
}