<h2 class="first"><span class="hide">Project&nbsp;</span>Team</h2><div class="second"><ul class="person-list">
  {% assign person = site.people | where: "name", page.artist | first %}
  {% include projects-bios/person-item.html role="Artist in Residence" %}

  {% assign team = page.team | sort: 'lastname' %}
  {% for member in team %}
    {% assign person = site.people | where: "name", member.name | first %}
    {% include projects-bios/person-item.html role=member.role %}
  {% endfor %}
</ul>
  {% if page.extended-team %}
    <h2 class="hide"><span>Extended&nbsp;Team</span></h2>
    <ul class="person-list extended">
        {% assign extended-team = page.extended-team | sort: 'lastname' %}
        {% for member in extended-team %}
          {% include projects-bios/person-item.html status='extended' %}
        {% endfor %}
    </ul>
  {% endif %}
</div>