---
layout	  : default
title	  : Blog - ThoughtWorks Arts Residency
bodyid	  : "blog"
bodyclass : "content post"
---
<section class="listing">
	<header>
		<h1>Blog</h1>
	</header>
	{% for post in paginator.posts %}
	<article role="article" itemscope itemtype="http://schema.org/BlogPosting">
		<header>
			<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
			<div class="widgets">
				<time itemprop="dateCreated" datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%A, %-d %B %Y" }}</time>
				<ul class="social">
					<li>
						<a href="http://twitter.com/share?text={{ post.title | uri_escape }}&amp;url=http://{{ site.name }}{{ post.url | uri_escape }}&amp;via=art_a_hack"><i class="fa fa-twitter"></i></a>
					</li>
					<li>
						<a href="http://www.facebook.com/sharer/sharer.php?title={{ post.title | uri_escape }}&amp;u=http://{{ site.name }}{{ post.url | uri_escape }}"><i class="fa fa-facebook"></i></a>
					</li>
					<li>
						<a href="http://www.tumblr.com/share?v=3&amp;t={{ post.title | uri_escape }}&amp;u=http://{{ site.name }}{{ post.url | uri_escape }}"><i class="fa fa-tumblr"></i></a>
					</li>
				</ul>
			</div>
		</header>
		<div class="post-content">
			{{ post.excerpt }}
		</div>
		<div class="progress blog cta">
			<a href="{{ post.url }}">Continue reading</a>
		</div>
	</article>
	{% endfor %}

	<ul id="paging" class="cta">
		{% if paginator.previous_page %}
			{% if paginator.previous_page == 1 %}
				<li><a href="/blog/">Previous page</a></li>
			{% else %}
				<li><a href="/blog/page{{ paginator.previous_page }}/">Previous page</a></li>
			{% endif %}
		{% endif %}
		{% if paginator.next_page %}
			<li><a href="/blog/page{{ paginator.next_page }}/">Next page</a></li>
		{% endif %}
	</ul>
</section>