---
title	   : Blog
bodyid	   : blog
pagination:
  enabled: true
---
<section>
	<header>
		<h1>Blog</h1>
	</header>
	{% for post in paginator.posts %}
	<article role="article" itemscope itemtype="http://schema.org/BlogPosting">
		<header>
			<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
			{% include blog/widgets.html %}
		</header>
		<div class="text-content">
			{{ post.excerpt }}
		</div>
		<div class="progress continue-reading">
			<a href="{{ post.url }}" class="blog forwards">Continue reading</a>
		</div>
	</article>
	{% endfor %}

	{% include shared/pagination.html folder='blog' %}
</section>