---
title	  : Blog
bodyid	  : blog
---
<section class="listing">
	<header>
		<h1>Blog</h1>
	</header>
	{% for post in paginator.posts %}
	<article role="article" itemscope itemtype="http://schema.org/BlogPosting">
		<header>
			<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
			<div class="widgets">
				<ul class="social">
					<li>
						<a href="http://twitter.com/share?text={{ post.title | uri_escape }}&amp;url=http://{{ site.name }}{{ post.url | uri_escape }}&amp;via=thoughtworks"><i class="fa fa-twitter"></i></a>
					</li>
					<li>
						<a href="http://www.facebook.com/sharer/sharer.php?title={{ post.title | uri_escape }}&amp;u=http://{{ site.name }}{{ post.url | uri_escape }}"><i class="fa fa-facebook"></i></a>
					</li>
					<li>
						<a href="http://www.tumblr.com/share?v=3&amp;t={{ post.title | uri_escape }}&amp;u=http://{{ site.name }}{{ post.url | uri_escape }}"><i class="fa fa-tumblr"></i></a>
					</li>
				</ul>
				{% capture author %}{{ post.author }}{% endcapture %}
				{% capture includefile %}blog/{{ post.author }}.html{% endcapture %}
				{% capture datetime %}{{ post.date | date: "%Y-%m-%d" }}{% endcapture %}
				{% capture datestr %}{{ post.date | date: "%A, %-d %B %Y" }}{% endcapture %}
				{% unless author == "" %}
					{% include {{includefile}} datetime=datetime datestr=datestr %}
				{% endunless %}
			</div>
		</header>
		<div class="post-content">
			{{ post.excerpt }}
		</div>
		<div class="progress cta continue-reading">
			<a href="{{ post.url }}" class="blog forwards">Continue reading</a>
		</div>
	</article>
	{% endfor %}

	<ul id="paging" class="progress cta">
		{% if paginator.previous_page %}
			{% assign url = "/blog/" %}
			{% if paginator.previous_page > 1 %}
				{% assign url = "/blog/page" | append: paginator.previous_page %}
			{% endif %}
			<li><a href="{{ url }}" class="blog backwards">Previous page</a></li>
		{% endif %}

		{% if paginator.next_page and paginator.previous_page %}
			{% assign text = "Next page" %}
		{% elsif paginator.next_page %}
			{% assign text = "See more posts" %}
		{% endif %}

		{% if paginator.next_page %}
			<li><a href="/blog/page{{ paginator.next_page }}" class="blog forwards">{{ text }}</a></li>
		{% endif %}
	</ul>
</section>