#blog {
	position: relative;

	#image-splash {
		background-image: url('/images/full-bleed/banner-a-1400.jpg');
		background-position: 100% 50%;
	}

	article {
		margin-top: 4.5em;
	}

	article:first-of-type {
		margin-top: 0;
	}

	>main>section>header>h1 {
		display: none;
	}

	h1 {
		cursor: default;
		transition: border 0.16s ease-out;
		font-family: 'Open Sans', sans-serif;
	}

	.listing  h1:hover {
		border-top: 3px solid rgba(34, 34, 34, 0);
	}

	h2 {
		margin-top: 1em;
	}

	h2:before {
		display: none;
	}

	.continue-reading {
		padding-top: 0.2em;
	}

	.widgets {
		margin: 1.2em 0 0 0;
		position: relative;
		top: 0.2em;

		figure {
			img {
				position: relative; left: -1em;
			}

			img:first-of-type {
				left: 0;
			}

			figcaption {
				color: #afafaf;
				cursor: default;
				font-style: italic;
				position: absolute; top: 0;
				display: inline;
				margin: 0.76em;
				font-size: 1em;
				line-height: 1.55em;
			}

			figcaption.indent {
				left: 7.4em;
			}
		}

		figure.empty {
			height: 4.3em;
			margin-top: -0.4em;

			figcaption {
				margin-left: 0;
			}
		}

		img {
			width: 4em;
		}

		ul.social {
			list-style-type: none;
			padding: 0;
			display: inline;
			position: absolute; right: 0;
			margin: 2.1em 0;
		}

		li {
			display: inline;
		}

		a {
			margin-left: 0.8em;
			position: relative; top: -5px;
			transition: color 0.16s ease-out;
			width: 10px;
			font-size: 24px;
		}

		a:link, a:visited {
			color: #d3d3d3;
		}

		a:hover, a:active {
			color: #f5ac1d;
		}

		i {
			color: inherit;
		}
	}

	.post-content {
		position: relative;

		figure {
			margin: 1em 0 0.7em 0;
			width: 99%;

			img {
				width: 100%;
				border: 2px solid #eeeeee;
			}

			figcaption {
				margin-top: 0.2em;
				width: 100%;
				text-align: center;
				font-weight: bold;
			}
		}

		table {
			table-layout: fixed;
			width: 100%;
			margin: 1em 0;
			line-height: 1.3em;
		}

		table, tr, td {
			border: 1px solid #222222;
			background: #ffffff;
		}

		tr, td {
			padding: 0.7em;
			overflow: hidden;
		}

		thead td {
			font-weight: bold;
			background: #eeeeee;
		}
	}

	#paging {
		text-align: center;
		border-top: 5px solid #eeeeee;
		padding-top: 1.2em;
		margin-top: 4.5em;
		margin-left: 0;

		li:nth-child(2) {
			margin-left: 3em;
		}
	}
}

@media (max-width: 799px) {
	#blog {
		.post-content figure img {
			width: 100%;
		}
	}
}

@media (max-width: 639px) {
	#blog {
		.widgets ul.social {
			display: none;
		}
	}
}

@media (max-width: 599px) {
	#blog {
		article {
			margin-top: 2.5em;
		}

		.post-content table {
			font-size: 0.8em;
		}
	}
}

@media (max-width: 489px) {
	#blog {
		.post-content figure {
			width: 99%;
		}

		#paging {
			li {
				display: block;
			}

			li:nth-child(2) {
				margin-left: 0;
				margin-top: 1.6em;
			}
		}
	}
}

@media (max-width: 399px) {
	#blog {
		.post-content figure {
			width: 98%;
		}
	}
}

@media (max-width: 359px) {
	#blog {
		.post-content figure {
			width: 97%;
		}
	}
}

@media (max-width: 329px) {
	#blog {
		.post-content figure {
			width: 96%;
		}
	}
}

@media (max-width: 314px) {
	#blog {
		.post-content figure {
			width: 95%;
		}
	}
}