//Projects & Biography sections

#expo.detail-page {
	.content {
		display: flex;
		flex-flow: row;

		.when {
			font-family: $bebas;
			font-weight: bold;
			color: $grey-mid;
			font-size: 1.8rem;
			padding: 0.5em 0 0 0;
			text-transform: uppercase;
		}

		.left {
			flex: 1 1 auto;

			article, .related-posts {
				margin: 0;
			}
		}

		.right {
			flex: 1 1 18em;

			.first, .second {
				width: 100%;
			}
		}
	}
}