#home {
	#image-splash {
		flex: 1 0 auto;
		background-image: url('/images/full-bleed/residency-home-1600.jpg');
		background-position: 50% 24%;
		background-size: cover;
		background-color: #000000;
		background-repeat: no-repeat;
		margin: 0 0 2em;
		position: relative;

		.small-screens {
			display: none;
		}

		.intro-container {
			width: 100%;
			position: absolute;
			bottom: 0;

			.intro {
				color: #eee;
				text-shadow: 0 0 2px #000000, 0 0 6px #000000, 0 0 16px #000000, 0 0 32px #000000, 0 0 64px #000000, 0 0 128px #000000;
				font-size: 1.7em;
				line-height: 1.7em;
				opacity: 0.9;
				font-style: italic;
				margin: 1.1em 3.5em;

				.space {
					display: none;
				}
			}
		}
	}

	>header {
		height: 100%;
		min-height: 600px;
	}

	>main>section {
		.intro {
			display: none;
		}

		.progress {
			text-align: right;
			padding: 0;

			a {
				margin: 1.2em;
			}
		}
	}

	h1, h2, p {
		cursor: default;
	}

	//See also .residents
}

@media (max-width: 1299px) {
	#home {
		#image-splash {
			background-image: url('/images/full-bleed/residency-home-1200.jpg');

			.intro-container {
				margin-top: -1em;

				.intro {
					font-size: 1.5em;
					margin: 3em;
				}
			}
		}
	}
}

@media (max-width: 1099px) {
	#home {
		>header {
			min-height: 540px;
		}

		#image-splash .intro-container .intro {
			font-size: 1.4em;
		}
	}
}

@media (max-width: 999px) {
	#home {
		>header {
			min-height: 576px;
		}
	}
}

@media (max-width: 799px) {
	#home {
		#image-splash {
			background-image: url('/images/full-bleed/residency-home-800.jpg');
			background-position: 85% 79%;

			.intro-container .intro {
				text-shadow: 0 0 2px #000000, 0 0 7px #000000, 0 0 74px #000000;
			}
		}

		#image-splash .intro-container .intro {
			margin: 2em;
		}

		>main>section .intro {
			display: block;
		}
	}
}

@media (max-width: 729px) {
	#home {
		#image-splash .intro-container .intro {
			font-size: 1.3em;
			margin: 1.3em 2em;
		}
	}
}

@media (max-width: 639px) {
	#home {
		#image-splash {
			background-position: 85% 63%;

			.intro-container .intro {
				text-align: center;

				br {
					display: none;
				}

				.space {
					display: inline;
				}
			}
		}

		>header {
			min-height: 500px;
			max-height: 100%; // Firefox mobile
		}

		#image-splash {
			background-image: url('/images/full-bleed/residency-home-560.jpg');
		}
	}
}
