#home {
	>main {
		>section {
			margin: 0;
			width: 100%;
			border-top: 5px solid #f1f1f1;

			>.content {
				width: 1100px;
				margin: 0 auto;
				padding: 0 0 2.5em 0;
			}

			h1, h2, p {
				cursor: default;
			}

			p {
				font-family: 'Open Sans',sans-serif;
				font-size: 1.1rem;
			}

			h1 {
				display: none;
			}

			h2 {
				font-family: 'Oswald',sans-serif;
				letter-spacing: -0.03em;
				font-size: 1.7rem;
				margin: 0.5em 0;
			}

			h2::before {
				display: none;
			}

			ul {
				list-style-type: none;
				width: 100%;
				display: grid;
				grid-template-columns: 67% 33%;
				padding: 0;
				margin: 0;

				li {
					padding: 0;
					margin: 2em 0.75em 0 0.75em;

					* {
						transition: all 0.25s ease-in;
						cursor: pointer;
					}

					a {
						display: block;
						text-decoration: none;
						border-bottom: 5px solid $grey;
						background: #ffffff;

						p {
							padding-top: 0.1em;
						}

						.info {
							padding-bottom: 0.3rem;
							font-weight: bold;
							font-size: 0.9rem;
						}

						h2, span {
							display: block;
							max-width: 630px;
						}

						img {
							width: 100%;
							height: 180px;
							object-fit: cover;
						}

						figure {
							line-height: 0;
							overflow: hidden;
						}
					}

					a:hover, a:active {
						background: #f9f9f9;
					}

					a:hover img, a:active img {
						transform: scale(1.025);
					}

					a:hover p span, a:hover h2, a:active p span, a:active h2 {
						color: #484848;
					}
				}

				li:first-of-type {
					margin-left: 0;
				}

				li:last-of-type {
					margin-right: 0;
				}
			}

			.crt-load-more {
				display: none !important;
			}

			.crt-feed .galcolumn {
				column-count: 3;
				column-gap: 1em;
				column-width: 33%;
				width: 100%;

				.crt-post{
					break-inside: avoid;
					margin: 0 0 1em 0;
				}
			}
		}

		>section:not(.mission):not(.programs) {
			background-image: url('/images/full-bleed/pattern-1600.png');
			background-repeat: no-repeat;
			background-position: top;
			box-shadow: inset 0 0 50px -15px rgba(0,0,0,0.05);
			position: relative;
		}

		>section:not(.mission):not(.programs)::after {
			content: '';
			background-image: url('/images/full-bleed/pattern-1600.png');
			background-repeat: no-repeat;
			background-position: bottom;
			height: 510px;
			width: 100%;
			display: block;
			position: absolute;
			bottom: 0;
			z-index: -1;
			transform: rotate(180deg);
		}

		.features {
			ul {
				grid-template-columns: 67% 33%;

				.feature-1 {
					grid-column: 1;
					grid-row: 1 / span 2;

					a {
						height: calc(100% - 5px);
						display: grid;
						grid-template-rows: auto 2.8em 4.8em;

						img {
							height: 100%;
						}
					}
				}

				.feature-2 {
					grid-column: 2;
					grid-row: 1;
					margin-right: 0;
				}

				.feature-3 {
					grid-column: 2;
					grid-row: 2;
					margin-top: 1em;
				}
			}
		}

		.mission {
			p {
				font-size: 1.9em;
				text-align: center;
				max-width: 700px;
				margin: 2rem auto 0 auto;
				font-style: italic;
			}
		}

		.programs {
			padding-top: 2.5em;

			>.content {
				display: grid;
				grid-template-columns: 50% 50%;
			}

			.explanation {
				grid-column: 1;
				grid-row: 1;
				padding: 0 2em 0 0;

				a {
					font-weight: bold;
				}

				a::after {
					content: ' >>';
				}
			}

			figure {
				grid-column: 2;
				grid-row: 1;
				padding: 1em 2em;

				img {
					width: 500px;
				}

				figcaption {
					display: none;
				}
			}
		}

		.news {
			>section:not(.newsletters) {
				border-top: 5px solid #f1f1f1;
				background-image: url('/images/full-bleed/pattern-1600.png');
				background-repeat: no-repeat;
				background-position: top;
				box-shadow: inset 0 25px 25px -15px rgba(0,0,0,0.025);
			}

			ul {
				grid-template-columns: 33.3333% 33.3333% 33.3333%;

				li {
					margin-top: 0.6em;

					a {
						height: 100%;
						max-height: 395px;
						overflow: hidden;
						box-sizing: border-box;
						position: relative;
					}

					a:before {
						content: '';
						width: 100%;
						height: 100%;
						position: absolute;
						background: linear-gradient(transparent, white);
						background-size: 100% 52px;
						background-repeat: no-repeat;
						background-position: bottom;
					}
				}
			}

			h1 {
				display: block;
				border-top: 0;
				margin-top: 0.4em;
			}
		}
	}
}

@media (max-width: 1299px) {
	#home {
		#image-splash {
			background-image: url('/images/full-bleed/residency-home-1200.jpg');

			.intro-container {
				margin-top: -1em;

				.intro {
					font-size: 1.5em;
					margin: 3em;
				}
			}
		}
	}
}

@media (max-width: 1099px) {
	#home {
		>header {
			min-height: 540px;
		}

		#image-splash .intro-container .intro {
			font-size: 1.4em;
		}
	}
}

@media (max-width: 999px) {
	#home {
		>header {
			min-height: 576px;
		}
	}
}

@media (max-width: 799px) {
	#home {
		#image-splash {
			background-image: url('/images/full-bleed/residency-home-800.jpg');
			background-position: 85% 79%;

			.intro-container .intro {
				text-shadow: 0 0 2px #000000, 0 0 7px #000000, 0 0 74px #000000;
			}
		}

		#image-splash .intro-container .intro {
			margin: 2em;
		}

		>main>section .intro {
			display: block;
		}
	}
}

@media (max-width: 729px) {
	#home {
		#image-splash .intro-container .intro {
			font-size: 1.3em;
			margin: 1.3em 2em;
		}
	}
}

@media (max-width: 639px) {
	#home {
		#image-splash {
			background-position: 85% 63%;

			.intro-container .intro {
				text-align: center;

				br {
					display: none;
				}

				.space {
					display: inline;
				}
			}
		}

		>header {
			min-height: 500px;
			max-height: 100%; // Firefox mobile
		}

		#image-splash {
			background-image: url('/images/full-bleed/residency-home-560.jpg');
		}
	}
}
