#home {
	>main {
		>section {
			margin: 0;
			width: 100%;
			position: relative;
			border-top: 12px solid #f1f1f1;

			.content {
				width: 1100px;
				margin: 0 auto;
				padding: 0 0 2.5em 0;
			}

			h1, h2, p {
				cursor: default;
			}

			p {
				font-family: 'Open Sans',sans-serif;
				font-size: 1.1rem;
			}

			h1 {
				display: block;
				border-top: 0;
				margin: 0.9em 0 0.4em 0;
			}

			h2 {
				font-family: 'Oswald',sans-serif;
				letter-spacing: -0.03em;
				font-size: 1.7rem;
				margin: 0.5em 0;
			}

			h2::before {
				display: none;
			}

			ul {
				list-style-type: none;
				width: 100%;
				display: grid;
				grid-template-columns: 67% 33%;
				padding: 0;
				margin: 0;

				li {
					padding: 0;
					margin: 2em 0.75em 0 0.75em;

					* {
						transition: all 0.25s ease-in;
						cursor: pointer;
					}

					a {
						display: block;
						text-decoration: none;
						border-bottom: 5px solid $grey;
						background: #ffffff;

						p {
							padding: 0.1em 1rem;
							font-size: 1rem;
						}

						p.post-text {
							padding: 0.8em 1rem;
						}

						.info {
							padding-top: 0;
							padding-bottom: 0.3rem;
							font-weight: bold;
							line-height: 1.2em;
							font-size: 0.9rem;
							text-transform: uppercase;
						}

						h2, span {
							display: block;
							max-width: 630px;
						}

						h2 {
							padding: 0 1rem;
						}

						img {
							width: 100%;
							height: 180px;
							object-fit: cover;
						}

						figure {
							line-height: 0;
							overflow: hidden;
						}
					}

					a:visited, a:link {
						background: #f9f9f9;

						p, span, h2 {
							color: #484848;
						}
					}

					a:hover, a:active {
						background: #ececec;

						p, span, h2 {
							color: inherit;
						}
					}

					a:hover img, a:active img {
						transform: scale(1.025);
					}
				}

				li:first-of-type {
					margin-left: 0;
				}

				li:last-of-type {
					margin-right: 0;
				}
			}
		}

		>section::after {
			content: '';
			background:
				linear-gradient(#f1f1f1, transparent) top/100% 4px no-repeat,
				url('/images/full-bleed/pattern-1600.png') no-repeat bottom;
			height: 510px;
			width: 100%;
			display: block;
			position: absolute;
			bottom: 0;
			z-index: -1;
			transform: rotate(180deg);
		}

		.features {
			background:
				linear-gradient(#f1f1f1, transparent) top/100% 4px no-repeat,
				url('/images/full-bleed/pattern-1600.png') no-repeat top;
			box-shadow: inset 0 0 50px -15px rgba(0,0,0,0.05);

			h1 {
				display: none;
			}

			ul {
				grid-template-columns: 67% 33%;

				.feature-1 {
					grid-column: 1;
					grid-row: 1 / span 2;

					a {
						height: calc(100% - 5px);
						display: grid;
						grid-template-rows: auto 2.8em 4.8em;

						img {
							height: 100%;
						}
					}
				}

				.feature-2 {
					grid-column: 2;
					grid-row: 1;
					margin-right: 0;
				}

				.feature-3 {
					grid-column: 2;
					grid-row: 2;
					margin-top: 1em;
				}
			}
		}

		.about-us {
			padding-top: 2.5em;

			>.content {
				display: grid;
				grid-template-columns: 40% 60%;
			}

			h1 {
				grid-column: 1;
				grid-row: 1;
			}

			.explanation {
				grid-column: 1;
				grid-row: 2;
				padding: 0 2em 0 0;
			}

			figure {
				grid-column: 2;
				grid-row: 1 / span 2;
				padding: 2.6em 0 0 1.5em;

				img {
					width: 100%;
				}

				figcaption {
					display: none;
				}
			}
		}

		.feed {
			ul {
				grid-template-columns: 33.3333% 33.3333% 33.3333%;

				li {
					margin-top: 0.6em;

					a {
						height: 100%;
						max-height: 405px;
						overflow: hidden;
						box-sizing: border-box;
						position: relative;
					}

					a:before {
						content: '';
						width: 100%;
						height: 100%;
						position: absolute;
						background: linear-gradient(transparent, white);
						background-size: 100% 52px;
						background-repeat: no-repeat;
						background-position: bottom;
					}
				}
			}

			ul#curator-feed {
				column-count: 3;
				column-gap: 1em;
				column-width: 33%;
				width: 100%;
				display: block;

				li {
					break-inside: avoid;
					margin: 0 0 1em 0;

					a {
						max-height: inherit;

						img {
							height: inherit;
						}

						.meta {
							position: relative;
							font-size: 0.75em;
							width: 100%;

							.icon {
								position: absolute;
								top: 0;
							}

							.social-author-icon {
								width: 1.8em;
								display: inline;
								left: 0;
								margin: 0.5em;
							}

							.social-network-icon {
								right: 0;
								width: 1.8em;
								margin: 0.8em;
							}

							.name-date {
								display: inline-block;
								margin: 0.3em 3em 0.3em 2.5em;
								line-height: 1.3em;

								.author-handle {
									font-weight: bold;
								}
							}
						}
					}

					a:hover .icon, a:active .icon {
						transform: inherit;
					}

					a:before {
						background: transparent;
					}
				}
			}
		}
	}
}

@media (max-width: 1299px) {
	#home {
		#image-splash {
			background-image: url('/images/full-bleed/residency-home-1200.jpg');

			.intro-container {
				margin-top: -1em;

				.intro {
					font-size: 1.5em;
					margin: 3em;
				}
			}
		}
	}
}

@media (max-width: 1099px) {
	#home {
		>header {
			min-height: 540px;
		}

		#image-splash .intro-container .intro {
			font-size: 1.4em;
		}
	}
}

@media (max-width: 999px) {
	#home {
		>header {
			min-height: 576px;
		}
	}
}

@media (max-width: 799px) {
	#home {
		#image-splash {
			background-image: url('/images/full-bleed/residency-home-800.jpg');
			background-position: 85% 79%;

			.intro-container .intro {
				text-shadow: 0 0 2px #000000, 0 0 7px #000000, 0 0 74px #000000;
			}
		}

		#image-splash .intro-container .intro {
			margin: 2em;
		}

		>main>section .intro {
			display: block;
		}
	}
}

@media (max-width: 729px) {
	#home {
		#image-splash .intro-container .intro {
			font-size: 1.3em;
			margin: 1.3em 2em;
		}
	}
}

@media (max-width: 639px) {
	#home {
		#image-splash {
			background-position: 85% 63%;

			.intro-container .intro {
				text-align: center;

				br {
					display: none;
				}

				.space {
					display: inline;
				}
			}
		}

		>header {
			min-height: 500px;
			max-height: 100%; // Firefox mobile
		}

		#image-splash {
			background-image: url('/images/full-bleed/residency-home-560.jpg');
		}
	}
}
