#projects {
	#image-splash {
		background-image: url('/images/full-bleed/arduino-1400.jpg');
		background-position: 50% 24%;
	}

	#personnel {
		margin-top: 0.5em;
		margin-left: 2.8em;

		h2 {
			display: none;
		}

		figure>img {
			width: 100%;
		}

		figcaption {
			text-align: center;

			h3 {
				font-size: 1.4em;
				margin-top: 0.8em;
				margin-bottom: 0em;
			}

			p {
				padding-bottom: 3.2em;
			}
		}
	}

	#personnel-short {
		display: none;
	}
}

@media (max-width: 899px) {
	#projects {
		#personnel-short {
			display: block;
			border-top: 2px solid #c6c6c6;
			border-bottom: 2px solid #c6c6c6;
			margin-bottom: 1.5em;
			padding-bottom: 1em;
			position: relative;
			top: 0.6em;

			p {
				display: inline-block;
				padding-bottom: 0;
			}

			ul.personnel {
				display: inline;
				list-style-type: none;

				li {
					display: inline;
					margin: 0;
					padding: 0;
				}

				li:after {
					content: ',';
				}

				li:last-child:after {
					content: '';
				}
			}
		}

		#personnel {
			display: none;
		}
	}
}
