#projects {
	#image-splash {
		background-image: url('/images/full-bleed/banner-b-1400.jpg');
		background-position: 85% 0%;
	}

	.when {
		font-weight: bold;
		color: #cccccc;
		font-size: 1.3rem;
		font-style: italic;
	}
}