#program {
	#image-splash {
		background-image: url('/images/full-bleed/arduino-1400.jpg');
		background-position: 50% 24%;
	}
}

@media (min-width: 999px) {
	h2:before {
		display: none;
	}

	p, h2 {
		margin-top: 0 !important;
	}
}