#projects {
	#image-splash {
		background-image: url('/images/full-bleed/arduino-1400.jpg');
		background-position: 50% 24%;
	}

	.personnel {
		figcaption {
			text-align: center;

			h3 {
				font-size: 1.4em;
				margin-top: 0.8em;
				margin-bottom: 0em;
			}

			p {
				padding-bottom: 3.2em;
			}
		}
	}

	.personnel.large {
		margin-top: 0.5em;
		margin-left: 2.8em;

		h2 {
			display: none;
		}

		figure>img {
			width: 100%;
		}
	}

	.personnel.small {
		display: none;
	}
}

@media (max-width: 899px) {
	#projects {
		.personnel.small {
			display: block;

			ul {
				display: flex;
				flex-flow: row;
				flex-wrap: wrap;
				list-style-type: none;
				margin-left: 0;

				li {
					flex: 0 0 auto;
					text-align: center;
					width: 6em;
					margin-right: 1.2em;

					h3 {
						margin-top: 0;
						font-size: 0.9em;
					}

					p {
						padding-top: 0.3em;
						padding-bottom: 2em;
						font-size: 0.8em;
						font-style: italic;
					}
				}

				li:first-of-type {
					text-align: left;

					h2 {
						margin-top: 120px;
					}
				}
			}

			figure {
				width: 100%;
				img {
					width: 100%;
				}
			}
		}

		.personnel.large {
			display: none;
		}
	}
}
