$largest_font: 1.2em;
$large_font: 1.15em;
$medium_font: 1.1em;
$small_font: 1.05em;

$large_spacing: 0.04em;
$small_spacing: 0.03em;

$large_lineheight: 1.8em;
$small_lineheight: 1.7em;
$smallest_lineheight: 1.2em;

html, body {
	width: 100%; height: 100%;
	background-color: #ffffff;
	line-height: $small_lineheight;
}

body>section {
	margin: 2em auto 4.1em 3em;
	width: 674px;
}

body>section.expanded {
	width: 1050px;
}

body>section:last-of-type {
	margin-bottom: 2em;
}

body>.flex-col {
	height: 67%;
	min-height: 560px;

	#image-splash {
		flex: 1 0 auto;
		background-size: cover;
		background-color: #000000;
		background-repeat: no-repeat;
		margin: 0 0 2em 0;
		position: relative;
	}
}

a {
	transition: color 0.12s;
}

a:link, a:visited {
	text-decoration: underline;
}

a:hover, a:active {
	text-decoration: none;
}

p, ul, ol, .progress {
	font-size: $largest_font;
	letter-spacing: $large_spacing;
	line-height: $small_lineheight;
	padding: 0.9em 0;
}

h1 {
	line-height: $smallest_lineheight;
	font-family: 'Bebas Neue', sans-serif;
	border-top: 3px solid;
	display: inline-block;
	padding: 0.28em 0.35em 0 0;
	margin-top: 0.3em;
	font-size: 2.2em;

	a:link, a:visited {
		text-decoration: none;
	}
}

h2 {
	margin: 140px 0 0.1em 0;
	font-size: 1.8em;
	line-height: $smallest_lineheight;
	font-family: 'Bebas Neue', sans-serif;
	font-weight: 400;
	position: relative;
}

h2:before {
	background-size: 70px 80px;
	display: inline-block;
	width: 70px;
	height: 80px;
	content: '';
	position: absolute; top: -100px;
	background-image: url('/images/icons/arrow-black.png');
}

h3 {
	margin: 1.5em 0 0.3em 0;
	font-size: 1.5em;
	line-height: $smallest_lineheight;
	font-weight: 300;
}

address {
	font-size: 1.1em;
	font-style: normal;
	line-height: 1.2em;
}

hr {
	margin: 2em 0;
}

blockquote {
    font-weight: 400;
    font-style: italic;
    margin: 0 2em;
}

figure.video {
	display: block;
	position: relative;
	width: 100%; height: 0;
	padding-bottom: 57%;

	>iframe {
		position: absolute; top: 0; left: 0;
		width: 100%; height: 100%;
	}

	.ratio-55 {
		padding-bottom: 55.25%;
	}

	.ratio-56 {
		padding-bottom: 56.25%;
	}

	.ratio-59 {
		padding-bottom: 59.65%;
	}

	.ratio-71 {
		padding-bottom: 71.15%;
	}

	.ratio-80 {
		padding-bottom: 80%;
	}
}

.center {
	width: 100%;
	text-align: center;
}

.highlight {
	color: #ff0000;

	a {
		color: #ff0000;
	}
}

a#menu-button {
	text-decoration: none;
	position: relative;
	z-index: 20;

	i {
		font-size: 1.7em;
		margin: 0 0.125em;
		color: #4d2822;
	}

	i.fa-times {
		color: white;
	}
}

a.cta {
	font-weight: bold;
	text-decoration: none;
	text-transform: lowercase;
}

.cta {
	a {
		text-decoration: none;
		letter-spacing: 0.05em;
		white-space: nowrap;
		opacity: 0.8;
	}

	a, a:before, a:after {
		transition: opacity 0.32s ease-out;
	}

	a:before {
		opacity: 0;
	}

	a:hover, a:active, a:focus, a:hover:before, a:active:before, a:focus:before, a:hover:after, a:active:after, a:focus:after {
		opacity: 1;
	}
}

ul.cta, ol.cta {
	list-style-type: none;
}

ul.cta li, ol.cta li {
	display: inline-block;
}

.program {
	a {
		color: #ac1f58;
	}
}

.residents {
	a {
		color: #00b1c3;
	}
}

.blog {
	a {
		color: #f5ac1d;
	}
}

.progress {
	text-transform: lowercase;
	font-weight: bold;

	a:after {
		background-size: 34px 39px;
		display: inline-block;
		width: 34px;
		height: 39px;
		content: '';
		position: relative; left: 8px; top: 13px;
	}
}

.progress.program {
	a:after {
		background-image: url('/images/icons/arrow-purple.png');
	}
}

.progress.residents {
	a:after {
		background-image: url('/images/icons/arrow-teal.png');
	}
}

.progress.blog {
	a:after {
		background-image: url('/images/icons/arrow-canary.png');
	}
}

.info {
	font-weight: 400;
	margin-bottom: 0.4em;
}

.info.large {
	font-size: 1.4em;
}

.info.small {
	font-size: 1em;
}

.no-margin {
	margin: 0;
}

.fa-times {
	display: none;
}

.flex-col {
	display: flex;
	flex-flow: column;
}

.flex-row {
	display: flex;
	flex-flow: row;
}

@media (max-width: 1299px) {
	ul.links li i {
		font-size: 1.65em;
	}
}

@media (max-width: 1099px) {
	body>section {
		width: 661px;
	}

	body>section.expanded {
		width: 90%;
		max-width: inherit;
	}

	p, ul, ol {
		font-size: 1.07em;
	}

	ul.links li i {
		font-size: 1.5em;
	}
}

@media (max-width: 999px) {
	h1 {
		margin-top: 0.2em;
	}

	body>section {
		width: 80%;
		max-width: 650px;
		margin: 2.3em auto 4.8em 3em;
	}

	body>section.expanded {
		width: 90%;
		max-width: inherit;
	}
}

@media (max-width: 899px) {
	body>section.expanded {
		.flex-row {
			flex-flow: inherit !important;
			display: block !important;
		}
	}

	ul.links li i {
		font-size: 1.5em;
	}

	hr {
		margin-bottom: 0;
	}
}

@media (max-width: 639px) {
	body>.flex-col {
		min-height: 340px;
	}

	h1 {
		margin-top: 0;
	}

	body>section {
		width: 92%;
		margin: 2em auto 3.8em 1.1em;
	}
}

@media (max-width: 499px) {
	hr {
		margin-bottom: 0.8em;
	}
}

body>section:first-of-type {
	margin-top: 0.6em;
}