body {
	header.main {
		height: 168px;
		position: relative;

		h1 {
			display: none;
		}

		.logo, >nav {
			margin: 9px 16px;
		}

		.logo {
			position: absolute; bottom: 0; left: 20px;

			img {
				height: 8.6em;
			}
		}

		nav {
			position: absolute; bottom: 0; right: 0;

			#menu-button {
				display: none;
			}

			h2 {
				display: none;
			}

			ul {
				padding: 0;
				line-height: inherit;
				font-size: inherit;
				letter-spacing: inherit;

				li {
					margin-left: 1em;

					a {
						font-family: 'Bebas Neue', sans-serif;
						transition: all 0.32s ease-out;
						opacity: 0.75;
						font-size: 2em;
					}

					a:hover, a:active, a:focus {
						opacity: 1;
					}

					a:before {
						background-size: 21px 39px;
						display: inline-block;
						width: 21px;
						height: 39px;
						content: '';
						position: relative; left: 22px; top: -30px;
						opacity: 0;
						transition: all 0.32s ease-out;
					}

					a:hover:before, a:active:before, a:focus:before {
						opacity: 1;
					}
				}

				li.program {
					a {
						color: #ac1f58;
					}

					a:before {
						background-image: url('/images/icons/diamond-purple.png');
					}
				}

				li.residents {
					a {
						color: #00b1c3;
					}

					a:before {
						background-image: url('/images/icons/diamond-teal.png');
					}
				}

				li.blog {
					a {
						color: #f5ac1d;
					}

					a:before {
						background-image: url('/images/icons/diamond-canary.png');
					}
				}
			}
		}
	}
}

@media (max-width: 1299px) {
	body {
		header.main {
			height: 158px;

			.logo img {
				height: 8em;
			}

			.logo, >nav {
				margin: 9px 13px;
			}

			nav ul.cta li {
				margin-left: 0.8em;

				a {
					font-size: 1.9em;
				}
			}
		}
	}
}

@media (max-width: 1099px) {
	body {
		header.main {
			height: 145px;

			.logo img {
				height: 7.4em;
			}

			.logo, >nav {
				margin: 7px 3px;
			}

			nav ul.cta li {
				margin-left: 0.6em;

				a {
					font-size: 1.75em;
				}
			}
		}
	}
}

@media (max-width: 899px) {
	body {
		header.main {
			height: 130px;

			.logo img {
				height: 6.6em;
			}

			.logo {
				margin: 4px 1px;
			}

			>nav {
				margin: 6px;
			}

			nav {
				#menu-button {
					display: block;
					
					.fa-bars {
						display: block;
					}

					.fa-times {
						display: none;
					}
				}

				ul.cta {
					display: none;
				}
			}

			nav.popout {
				#menu-button {
					.fa-bars {
						display: none;
					}

					.fa-times {
						display: block;
					}
				}

				ul.cta {
					display: block;
					position: fixed; top: 0; left: 0; bottom: 0; right: 0;
					width: 100%; height: 100%;
					text-align: center;
					background-color: rgba(68, 68, 68, 0.96);
					padding-top: 7%;
					z-index: 1;

					li {
						display: block;
						padding-top: 3.8em;
					}

					a {
						font-size: 2em;
					}

					a:before {
						background-image: inherit;
					}
				}
			}
		}
	}
}

@media (max-width: 379px) {
	body {
		header.main {
			height: 88px;

			h1, nav {
				margin: 14px 8px;
			}

			h1 a {
				img.text {
					height: 27px;
				}

				img.logo {
					height: 47px;
				}
			}

			nav #menu-button i {
				font-size: 1.5em;
			}
		}
	}
}

@media (max-width: 339px) {
	body {
		header.main {
			height: 55px;

			h1 {
				margin-left: 0;
				bottom: -5px; left: 4px;

				a {
					img.text {
						height: 25px;
					}

					img.logo {
						display: none;
					}
				}
			}
		}
	}
}