<ul class="social">
  <li>
    <a href="http://twitter.com/share?text={{ include.post.title | uri_escape }}&amp;url=http://{{ site.name }}{{ include.post.url | uri_escape }}&amp;via=tw_arts"><i class="fa fa-twitter"></i></a>
  </li>
  <li>
    <a href="http://www.facebook.com/sharer/sharer.php?title={{ include.post.title | uri_escape }}&amp;u=http://{{ site.name }}{{ include.post.url | uri_escape }}"><i class="fa fa-facebook"></i></a>
  </li>
  <li>
    <a href="http://www.tumblr.com/share?v=3&amp;t={{ include.post.title | uri_escape }}&amp;u=http://{{ site.name }}{{ include.post.url | uri_escape }}"><i class="fa fa-tumblr"></i></a>
  </li>
</ul>