{% if include.ratio.size > 0 %}
	{% capture ratioclass %} ratio-{{ include.ratio }}{% endcapture %}
{% endif %}

{% capture captiontext %}{{
	include.caption |
	markdownify |
	replace: '<p>', '' |
	replace: '</p>', ''
}}{% endcapture %}

<figure>
	<div class="video{{ ratioclass }}">
		{% if service == 'vimeo' %}
			<iframe src="https://player.vimeo.com/video/{{ include.id }}"></iframe>
		{% else %}
			<iframe src="https://www.youtube.com/embed/{{ include.id }}" frameborder="0" allowfullscreen></iframe>
		{% endif %}
	</div>
	{% if include.caption.size > 0 %}
		<figcaption>{{ captiontext }}</figcaption>
	{% endif %}
</figure>

{% capture captiontext %}{% endcapture %}