.programs, .programs>* {
	color: $red;
}

.residents, .residents>* {
	color: $blue;
}

.projects, .projects>* {
	color: $green;
}

.blog, .blog>* {
	color: $yellow;
}


.landing-page:not(.normal-heading)>main>section:first-of-type .content >header {
	ul.programs li {
		a span {
			color: $red-faded;
		}

		a:hover span, h1 span {
			color: $red;
		}
	}

	ul.residents li {
		a:hover span, h1 span {
			color: $blue;
		}
	}

	ul.projects li {
		a:hover span, h1 span {
			color: $yellow;
		}
	}

	ul.blog li {
		a span {
			color: $yellow-faded;
		}

		a:hover span, h1 span {
			color: $yellow;
		}
	}
}