.landing-page {
	article {
		margin-top: 4.5em;
	}

	article:first-of-type {
		margin-top: 3.125em;
	}
}

body:not(.landing-page) {
	article {
		margin-top: 7em;
	}
}

.content, .progress {
	width: 1100px;
	margin: 0 auto;
	padding: 0 0 2.5em 0;
}

.content article, .progress, .subscribe-box {
	max-width: 740px;
	margin: 0 auto;
}

.general-info {
	h2 {
		margin-top: 140px;
	}

	h2::before {
		background-size: 70px 80px;
		display: inline-block;
		width: 70px;
		height: 80px;
		content: '';
		position: absolute; top: -100px;
		background-image: url('/images/icons/arrow-black.png');
	}
}

.text {
	position: relative;
	top: 0.7em;

	h2 {
		margin-top: 1em;
	}

	h2::before {
		display: none;
	}

	figure {
		margin: 1em 0 0.7em 0;
		width: 99%;

		img {
			width: 100%;
			border: 2px solid $grey-light2;
		}

		figcaption {
			margin: 0.2em auto 0 auto;
			width: calc(100% - 3rem);
			text-align: center;
			font-weight: bold;
		}
	}

	table {
		table-layout: fixed;
		width: 100%;
		margin: 1em 0;
		line-height: 1.3em;
	}

	table, tr, td, th {
		border: 1px solid $black;
		background: $white;
	}

	tr, td, th {
		padding: 0.7em;
		overflow: hidden;
	}

	th {
		background: $grey-light2;
	}

	thead td {
		font-weight: bold;
		background: $grey-light2;
	}
}

@media (max-width: 1299px) {
	body:not(#home) {
		.text {
			top: 0;
		}
	}
}

@media (max-width: 1149px) {
	body:not(#home) {
		.content, .progress {
			width: calc(100% - 3rem);
		}
	}
}

@media (max-width: 799px) {
	body:not(#home) {
		.text figure img {
			width: 100%;
		}
	}
}

@media (max-width: 599px) {
	body:not(#home) {
		.content {
			width: 100%;

			header, .text >* {
				margin: 0 1.5rem;
			}

			.text {
				figure, img {
					margin: 0;
					border: 0;
					width: 100%;
				}

				table {
					font-size: 0.8em;
				}
			}
		}
	}
}