.content {
	width: $max-page-width;
	margin: 0 auto;
	padding: 0 0 2.5em 0;
}

body:not(.home-page) {
	.content {
		article, .text, header, footer, .related-posts, .progress {
			max-width: $max-text-width;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

body:not(.landing-page):not(.home-page) {
	.content>header>h1 {
		display: none;
	}
}

.landing-page>main>section:first-of-type {
	.content {
		>header>h1 {
			position: absolute;
			font-size: $h1-font-size;
			background: $white;
			position: absolute; top: -70px;
			margin: 0;
			padding: 16px 42px 10px 42px;
		}

		article {
			padding-top: 4.5em;
		}

		article:first-of-type, >.text {
			padding-top: 3.125em;
		}
	}
}

body:not(.landing-page) {
	.content {
		article {
			padding-top: 7em;
		}

		h1, h2, h2 span, h3, h3 a {
			text-transform: uppercase;
			font-family: $bebas;
		}
	}
}

.text {
	h2 {
		margin-top: 1em;
	}

	h2::before {
		display: none;
	}

	figure {
		margin: 1em 0 0.7em 0;
		width: 99%;

		img {
			width: 100%;
			border: 2px solid $grey-light2;
		}

		figcaption {
			margin: 0.2em auto 0 auto;
			width: calc(100% - 3rem);
			text-align: center;
			font-weight: bold;
		}
	}

	table {
		table-layout: fixed;
		width: 100%;
		margin: 1em 0;
		line-height: 1.3em;
	}

	table, tr, td, th {
		border: 1px solid $black;
		background: $white;
	}

	tr, td, th {
		padding: 0.7em;
		overflow: hidden;
	}

	th {
		background: $grey-light2;
	}

	thead td {
		font-weight: bold;
		background: $grey-light2;
	}
}

@media (max-width: 1149px) {
	body:not(.home-page) {
		.content {
			width: calc(100% - 3rem);
		}
	}
}

@media (max-width: 799px) {
	body:not(.home-page) {
		.text figure img {
			width: 100%;
		}
	}
}

@media (max-width: 599px) {
	body:not(.home-page) {
		.content {
			width: 100%;

			header, .text >*, .progress, .metainfo, .related-posts {
				margin-left: 1.5rem;
				margin-right: 1.5rem;
			}

			.text {
				ul, ol {
					margin-left: calc(1.5rem + 1.1em);
				}

				figure, img {
					margin: 0;
					border: 0;
					width: 100%;
				}

				table {
					font-size: 0.8em;
				}
			}
		}
	}
}