.listing {
	margin-top: 2rem;

	h1 {
		margin-bottom: 0.6em;
	}

	.listing-item {
		align-items: center;
		margin-bottom: 4em;
		display: flex;
		flex-flow: row;

		.image {
			flex: 1 0 auto;
			margin: 0 3em 0 0;

			figure {
				height: 100%;

				img {
					border: 0;
					width: $resident-avatar-width;
				}
			}
		}

		.additional {
			font-style: italic;
			font-weight: bold;
			padding: 0;
		}

		.text {
			position: inherit;

			h2, p {
				width: 100%;
			}

			h2 {
				margin-top: 0;
			}

			a:link, a:visited {
				text-decoration: none;
			}

			a:hover, a:active {
				text-decoration: underline;
			}

			.progress {
				padding-bottom: 0;
				margin: 0;
			}
		}
	}

	.listing-item.double-image, .listing-item.triple-image {
		figure img {
			transform: inherit;
			top: inherit;
		}

		figure {
			position: relative;
			width: 33.4em;
			height: 36.4em;

			a img {
				position: absolute;
			}
		}

		p:last-of-type {
			padding-bottom: 1.3em;
		}
	}

	.listing-item.double-image {
		figure {
			a:first-of-type img {
				top: 0;
				left: 0;
			}

			a:last-of-type img {
				bottom: 0;
				right: 0;
			}
		}
	}

	.listing-item.triple-image {
		figure {
			a img {
				width: $resident-avatar-width-small;
			}

			a:nth-of-type(1) img {
				top: 1.35em;
				left: 50%;
				margin-left: -$resident-avatar-width-small-half;
			}

			a:nth-of-type(2) img {
				bottom: 1.35em;
				right: 0;
			}

			a:nth-of-type(3) img {
				bottom: 1.35em;
				left: 0;
			}
		}
	}

	.listing-item.alternating:nth-of-type(even) {
		.text {
			order: 1;
		}

		.image {
			order: 2;
			margin: 0 0 0 3em;

			figure {
				text-align: right;
			}
		}
	}
}

.listing.compact {
	.listing-item {
		margin-bottom: 1em;

		.text h2 {
			margin-top: 0.4em;
		}
	}
}

@media (max-width: 999px) {
	.listing {
		.listing-item {
			display: block;
			margin-bottom: 6em;

			.text {
				h2 {
					margin: 1em 0 0 0;
				}
			}

			.image {
				max-width: $max-text-width;
				margin-left: auto;
				margin-right: auto;
			}
		}

		.listing-item.alternating:nth-child(even) {
			.image {
				margin: 0 auto;

				figure {
					text-align: left;
				}
			}
		}
	}

	.listing.compact {
		.listing-item {
			margin-bottom: 5em;

			.progress {
				padding-top: 0;
				padding-bottom: 1em;
			}
		}
	}
}

@media (max-width: 599px) {
	.listing {
		.listing-item, .listing-item.alternating:nth-child(even) {
			.image {
				margin-left: 1.5rem;
				margin-right: 1.5rem;
			}

			.text {
				p, h2, .progress {
					width: inherit;
				}

				.progress {
					margin-left: 1.5rem;
					margin-right: 1.5rem;
				}
			}
		}

		.listing-item.double-image {
			.image {
				figure {
					position: inherit;
					width: inherit;
					height: inherit;

					img:first-of-type {
						position: inherit;
					}

					img:last-of-type {
						position: inherit;
					}

					img {
						width: 43%;
					}
				}
			}
		}
	}
}

@media (max-width: 399px) {
	.listing {
		.listing-item {
			.image {
				figure {
					img {
						width: 96%;
					}
				}
			}
		}

		.listing-item.double-image {
			.image {
				figure {
					img {
						width: 48%;
					}
				}
			}
		}
	}
}