.metainfo.large {
	margin-top: 0.5em;
	margin-left: 5em;

	h2 {
		display: none;
	}
}

.metainfo.small {
	display: none;
}

@media (max-width: 1099px) {
	.metainfo.large {
		margin-left: 4em;
	}
}

@media (max-width: 999px) {
	.metainfo.large {
		margin-left: 3.5em;
	}
}

@media (max-width: 899px) {
	.metainfo.small {
		display: flex;
		flex-flow: row;

		.first {
			flex: 0 0 auto;
		}
	}

	.metainfo.large {
		display: none;
	}
}