.personnel {
	.info-list {
		width: 100%;
		font-size: 1rem;
		margin-left: 0;

		>li:last-of-type {
			border-bottom: 1px solid #eeeeee;
		}

		>li {
			border-top: 1px solid #eeeeee;

			.key, .value {
				padding: 3%;
				display: inline-block;
			}

			.key {
				width: 23%;
				vertical-align: top;
			}

			.value {
				width: 63%;
			}

			.project-list {
				padding: 0;
				margin-left: 0.7em;
				position: relative;

				li {
					font-size: 1rem;
					line-height: 1.5em;
					margin-bottom: 0.5em;
				}

				li:before {
					content: '-';
					position: absolute;
					left: -0.7em;
				}
			}
		}
	}
}

@media (max-width: 1099px) {
	.personnel {
		.info-list {
			>li {
				.key {
					width: 26%;
				}

				.value {
					width: 60%;
				}
			}
		}
	}
}

@media (max-width: 899px) {
	.personnel.small {
		
	}
}

@media (max-width: 729px) {
	.personnel.small {
		
	}
}

@media (max-width: 674px) {
	.personnel.small {
		
	}
}

@media (max-width: 611px) {
	.personnel.small {
		
	}
}

@media (max-width: 580px) {
	.personnel.small {
		
	}
}

@media (max-width: 535px) {
	.personnel.small {
		
	}
}