.video {
	display: block;
	position: relative;
	width: 100%; height: 0;
	padding-bottom: 57%;
	margin-bottom: 1.3em;

	>iframe {
		position: absolute; top: 0; left: 0;
		width: 100%; height: 100%;
	}
}

.double {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;

	.video-wrapper {
		flex-basis: 49%;
		display: inline-block;
	}

	figcaption {
		flex-basis: calc(100% - 3rem);
	}
}

@media (max-width: 719px) {
	.double {
		.video-wrapper {
			flex-basis: 100%;
		}
	}
}

.video.ratio-54 {
	padding-bottom: 54.8%;
}

.video.ratio-55 {
	padding-bottom: 55.65%;
}

.video.ratio-56 {
	padding-bottom: 56.25%;
}

.video.ratio-59 {
	padding-bottom: 59.65%;
}

.video.ratio-71 {
	padding-bottom: 71.15%;
}

.video.ratio-80 {
	padding-bottom: 80%;
}

.video.ratio-16-9 {
	padding-bottom: 55.75%;
}