{% if post == nil %}
  {% assign post = page %}
{% endif %}
{% assign author = site.people | where: "name", post.author | first %}
{% capture datestr %}{{ post.date | date: "%A, %-d %B %Y" }}{% endcapture %}
<div class="widgets">
  {% include shared/social.html post=post %}
  {% if author == nil %}
    <figure class="empty">
      <figcaption>Posted by the Residency Team<br />{{ datestr }}</figcaption>
    </figure>
  {% else %}
    <figure>
      <a href="{{ author.url }}"><img src="/images/people/{{ author.photo }}" alt="{{ author.name }}" /></a>
      <figcaption>Posted by <a href="{{ author.url }}">{{ author.name }}</a><br />{{ datestr }}</figcaption>
    </figure>
  {% endif %}
</div>