{% if post == nil %}
  {% assign post = page %}
{% endif %}
{% assign author = site.people | where: "name", post.author | first %}
{% capture datestr %}{{ post.date | date: "%A, %-d %B %Y" }}{% endcapture %}
<div class="widgets">
  {% include social.html post=post %}
  {% if post.author == "Directors" %}
    <figure>
      <a href="/bio/andrew-mcwilliams/"><img src="/images/people/andrew-mcwilliams.png" alt="Andrew McWilliams" /></a>
      <a href="/bio/ellen-pearlman/"><img src="/images/people/ellen-pearlman.png" alt="Ellen Pearlman" /></a>
      <figcaption class="postmetadata">Posted by the Residency Directors<br /><span class="updated">{{ datestr }}</span></figcaption>
    </figure>
  {% elsif author == nil %}
    <figure class="empty">
      <figcaption class="postmetadata">Posted by the Residency Team<br /><span class="updated">{{ datestr }}</span></figcaption>
    </figure>
  {% else %}
    <figure>
      <a href="{{ author.url }}"><img src="/images/people/{{ author.photo }}" alt="{{ author.name }}" /></a>
      <figcaption class="postmetadata">Posted by <a href="{{ author.url }}">{{ author.name }}</a><br /><span class="updated">{{ datestr }}</span></figcaption>
    </figure>
  {% endif %}
</div>