---
layout    : default
bodyid    : home
bodyclass : home-page
---
<section>
	<header>
		<h1>About the program</h1>
	</header>
	<p class="intro">The ThoughtWorks Arts Residency program supports artists exploring new lines of inquiry intersecting technology and society.</p>
	<p>The aim of this program is to facilitate dialog, partnership and collaboration at the intersection of technology and exploratory arts. By focusing on this synthesis, the program aims to empower resident artists to make work which inspires shifts in perspective and debate.</p>
	<div class="progress cta">
		<a href="/program/" class="program">More</a>
	</div>
</section>
<section class="listing residents expanded">
	<header>
		<h1>2016 residents</h1>
	</header>
	{% include residents/cyborg-foundation.html %}
	{% include residents/heather-dewey-hagborg.html showmore="true" %}
</section>