<section class="person">
  <figure>
    <img src="/images/people/{{ page.photo }}" alt="{{ page.title }}">
    <figcaption>
      <h3>{{ page.title }}</h3>
      <p>{{ page.occupation }}</p>
    </figcaption>
  </figure>
  <table>
    <tr>
      <td>Resident</td>
      <td>Summer 2016</td>
    </tr>
    <tr>
      <td>Project(s)</td>
      <td>
        <ul>
          <li><a href="/">Seismic Sense</a></li>
          <li><a href="/">Time Sense</a></li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Website</td>
      <td><i class="fa fa-globe"></i> <a href="https://www.bla.com">www.bla.com</a></td>
    </tr>
    <tr>
      <td>Twitter</td>
      <td><i class="fa fa-twitter"></i> <a href="http://twitter.com/handle">@handle</a></td>
    </tr>
    <tr>
      <td>Github</td>
      <td><i class="fa fa-github"></i> <a href="http://github.com/handle">@handle</a></td>
    </tr>
  </table>
</section>