<div id="personnel">
  <h2>Artists</h2>
  {% for person in page.artists %}
    {% assign member = site.personnel | where: "title", person.name | first %}
      <figure><img src="/images/people/{{ member.photo }}"></figure>
      <figcaption>
        <h3>{{ member.title }}</h3>
        <p>{{ member.occupation }}</p>
      </figcaption>
  {% endfor %}
  <hr>
  <h2>Team Members</h2>
  {% for person in page.teamMembers %}
    {% assign member = site.personnel | where: "title", person.name | first %}
      <figure><img src="/images/people/{{ member.photo }}"></figure>
      <figcaption>
        <p class="name">{{ member.title }}</p>
        <p class="role">{{ member.occupation }}</p>
      </figcaption>
  {% endfor %}
</div>