<li class="participant-item">
  {% if include.status == 'extended' %}
    {% if member.link %}
      <h2><a href="{{ member.link }}">{{ member.name }}</a></h2>
    {% else %}
      <h2>{{ member.name }}</h2>
    {% endif %}
  {% else %}
    {% if include.style == 'small' %}
      {% assign participant-name = participant.name | replace: ' ', '<br />' %}
    {% else %}
      {% assign participant-name = participant.name %}
    {% endif %}
    <figure class="participant">
      <a href="{{ participant.url }}">
        <img src="/images/people/{{ participant.photo }}" alt="{{ participant.name }}">
        <figcaption>
          <h2>{{ participant-name }}</h2>
          <p>{{ include.role }}</p>
        </figcaption>
      </a>
    </figure>
  {% endif %}
</li>