<li class="person-item">
  {% if include.status == 'extended' %}
    {% if member.link %}
      <h3><a href="{{ member.link }}">{{ member.name }}</a></h3>
    {% else %}
      <h3>{{ member.name }}</h3>
    {% endif %}
  {% else %}
    <figure class="person">
      <a href="{{ person.url }}">
        <img src="/images/people/{{ person.photo }}" alt="{{ person.name }}">
        <figcaption>
          <h3>{{ person.name }}</h3>
          <p>{{ include.role }}</p>
        </figcaption>
      </a>
    </figure>
  {% endif %}
</li>