{% if page.occupation == "Artist Group" %}
  {% capture activity %}Group{% endcapture %}
  {% assign group_members = site.people | where: "group",page.name | sort: 'lastname' %}
{% else %}
  {% capture activity %}{{ page.occupation }}{% endcapture %}
{% endif %}

{% capture roledescription %}{{ page.role }}{% endcapture %}

{% if activity == "Company" %}
  {% capture imageurl %}/images/logos/{{ page.photo }}{% endcapture %}
{% else %}
  {% capture imageurl %}/images/people/{{ page.photo }}{% endcapture %}
{% endif %}

<figure class="participant first">
  <img src="{{ imageurl }}" alt="{{ page.name }}">
  <figcaption>
    {% unless activity == "Company" %}
      <h2>{{ page.name }}</h2>
    {% endunless %}
    <p>{{ activity }}</p>
  </figcaption>
</figure>
<ul class="profile-info second">
  {% if page.participation == "Resident" %}
    <li>
      <span class="key">Residency</span>
      <span class="value">{{ page.season }}</span>
    </li>
  {% endif %}
  {% if group_members.size > 0 %}
    <li>
      <span class="key">Resident Members</span>
      <span class="value">
        <ul class="project-list">
        {% for member in group_members %}
          <li><a href="{{ member.url }}">{{ member.name }}</a></li>
        {% endfor %}
        </ul>
      </span>
    </li>
  {% endif %}
  {% if page.group != nil and page.group != '' %}
    {% assign group = site.people | where: "name",page.group | first %}
    <li>
      <span class="key">Group</span>
      <span class="value">
        <a href="{{ group.url }}">{{ group.name }}</a>
      </span>
    </li>
  {% endif %}
  {% if roledescription.size > 0 %}
    <li>
      <span class="key">Role</span>
      <span class="value">ThoughtWorks Arts {{ roledescription }}</span>
    </li>
  {% else %}
    {% unless page.projects.size == 0 %}
      <li>
        {% assign projects = page.projects | sort: 'projectid' %}
        <span class="key">Project{% if projects.size > 1 %}s{% endif %}</span>
        <span class="value">
          {% if projects.size == 1 %}
            {% assign p = projects | first %}
            {% assign project = site.projects | where: 'projectid', p.projectid | first %}
            <a href="{{ project.url }}">{{ project.title }}</a>
          {% else %}
            <ul class="project-list">
            {% for p in projects %}
              {% assign project = site.projects | where: 'projectid', p.projectid | first %}
              <li><a href="{{ project.url }}">{{ project.title }}</a></li>
            {% endfor %}
            </ul>
          {% endif %}
        </span>
      </li>
    {% endunless %}
  {% endif %}
  {% for link in page.links %}
    {% if link.url != "" %}
      <li>
        <span class="key">{{ link.name }}</span>
        <span class="value icon"><i class="{% if link.icon == 'fa-globe-americas' %}fa{% else %}fab{% endif %} {{ link.icon }}"></i> <a href="{{ link.url }}">{{ link.display }}</a></span>
      </li>
    {% endif %}
  {% endfor %}
</ul>