{% if post == nil %}
  {% assign post = page %}
{% endif %}
{% assign author = site.personnel | where: "title", post.author | first %}
{% capture datestr %}{{ post.date | date: "%A, %-d %B %Y" }}{% endcapture %}
<div class="widgets">
  <ul class="social">
    <li>
      <a href="http://twitter.com/share?text={{ post.title | uri_escape }}&amp;url=http://{{ site.name }}{{ post.url | uri_escape }}&amp;via=thoughtworks"><i class="fa fa-twitter"></i></a>
    </li>
    <li>
      <a href="http://www.facebook.com/sharer/sharer.php?title={{ post.title | uri_escape }}&amp;u=http://{{ site.name }}{{ post.url | uri_escape }}"><i class="fa fa-facebook"></i></a>
    </li>
    <li>
      <a href="http://www.tumblr.com/share?v=3&amp;t={{ post.title | uri_escape }}&amp;u=http://{{ site.name }}{{ post.url | uri_escape }}"><i class="fa fa-tumblr"></i></a>
    </li>
  </ul>
  {% if author == nil %}
    <figure class="empty">
      <figcaption>Posted by the Residency Team<br />{{ datestr }}</figcaption>
    </figure>
  {% else %}
    <figure>
      <img src="/images/people/{{ author.photo }}" />
      <figcaption>Posted by {{ author.title }}<br />{{ datestr }}</figcaption>
    </figure>
  {% endif %}
</div>