{% capture imagepath %}{{
	page.path |
	replace: '_posts/', '/images/posts/' |
	replace: '_newsletters/', '/images/newsletters/' |
	replace: '.markdown', '' |
	append: '/'
}}{% endcapture %}

{% capture image  %}{{ imagepath | append: include.file  }}{% endcapture %}
{% capture image2 %}{{ imagepath | append: include.file2 }}{% endcapture %}

{% if include.alt.size > 0 %}
	{% capture alttext %}{{ include.alt }}{% endcapture %}
{% elsif include.caption.size > 0 %}
	{% capture alttext %}{{ include.caption }}{% endcapture %}
{% endif %}

{% capture alttext %} alt="{{
	alttext |
	markdownify |
	strip_html
}}"{% endcapture %}

{% capture captiontext %}{{
	include.caption |
	markdownify |
	replace: '<p>', '' |
	replace: '</p>', ''
}}{% endcapture %}

<figure>
	{% if include.link.size > 0 %}
	<a href="{{ include.link }}">
	{% endif %}

		<img src="{{ image }}"{{ alttext }} />
		{% if include.file2.size > 0 %}
			<img src="{{ image2 }}"{{ alttext }} />
		{% endif %}

	{% if include.link.size > 0 %}
	</a>
	{% endif %}

	{% if include.caption.size > 0 %}
		<figcaption>{{ captiontext }}</figcaption>
	{% endif %}
</figure>