{% if include.file contains '/' %}
	{% assign imagepath = '' %}
{% else if page.path contains '_posts' or page.path contains '_newsletters' %}
	{% capture imagepath %}{{
		page.path |
		replace: '_posts/', '/images/posts/' |
		replace: '_newsletters/', '/images/newsletters/' |
		replace: '.markdown', '' |
		append: '/'
	}}{% endcapture %}
{% else %}
	{% capture imagepath %}{{
		page.path |
		prepend: '/images/posts-special/' |
		replace: '/index.markdown', '' |
		append: '/'
	}}{% endcapture %}
{% endif %}

{% capture image  %}{{ imagepath | append: include.file  }}{% endcapture %}
{% capture image2 %}{{ imagepath | append: include.file2 }}{% endcapture %}

{% if include.alt.size > 0 %}
	{% capture alttext %}{{ include.alt }}{% endcapture %}
{% elsif include.caption.size > 0 %}
	{% capture alttext %}{{ include.caption }}{% endcapture %}
{% endif %}

{% capture alttext %} alt="{{
	alttext |
	markdownify |
	strip_html
}}"{% endcapture %}

{% capture captiontext %}{{
	include.caption |
	markdownify |
	replace: '<p>', '' |
	replace: '</p>', ''
}}{% endcapture %}

{% if include.class.size > 0 %}
	{% capture figureclass %} class="{{ include.class }}"{% endcapture %}
{% endif %}

<figure{{ figureclass }}>
	{% if include.link.size > 0 %}
	<a href="{{ include.link }}">
	{% endif %}

		<img src="{{ image }}"{{ alttext }} />
		{% if include.file2.size > 0 %}
			<img src="{{ image2 }}"{{ alttext }} />
		{% endif %}

	{% if include.link.size > 0 %}
	</a>
	{% endif %}

	{% if include.caption.size > 0 %}
		<figcaption>{{ captiontext }}</figcaption>
	{% endif %}
</figure>

{% capture imagepath %}{% endcapture %}
{% capture image  %}{% endcapture %}
{% capture image2 %}{% endcapture %}
{% capture alttext %}{% endcapture %}
{% capture captiontext %}{% endcapture %}
{% capture figureclass %}{% endcapture %}