<section class="resident heather flex-col">
	<figure>
		<img src="/images/residents/2016-heather.png" />
	</figure>
	<h2>Heather Dewey-Hagborg</h2>
	<p>Heather Dewey-Hagborg is an artist and educator who has shown work internationally at venues including Ars Electronica and MOMA PS1.</p>
	<p>During her residency, Heather intends to develop SELL/BIO: a hybrid bioart/tactical media project investigating the transformation of human bodies into corporate profits, specifically the ethically controversial and largely unregulated practice of extracting and selling human DNA.</p>
	{% if include.showmore == 'true' %}
	<div class="progress residents cta">
		<a href="/residents/">More</a>
	</div>
	{% endif %}
</section>