<section class="resident cyborg flex-row">
	<div class="image">
		<figure class="neil">
			<img src="/images/residents/2016-neil.png" />
		</figure>
		<figure class="moon">
			<img src="/images/residents/2016-moon.png" />
		</figure>
	</div>
	<div class="text">
		<h2>Cyborg Foundation</h2>
		<p>The founders of the Cyborg Foundation are Neil Harbisson and Moon Ribas, both artists who have augmented their bodies with permanent new sensory organs.</p>
		<p>The mission of the Cyborg Foundation is to help humans become cyborgs, to promote the use of cybernetics as part of the human body and to defend cyborg rights. The foundation believes that some cybernetic extensions should be treated as body parts, not as devices.</p>
	</div>
</section>