<div class="subscribe">
  <form class="newsletter-form" action="https://tinyletter.com/thoughtworksarts" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/thoughtworksarts', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
    <label for="tlemail">Keep up to date with residency program news:</label>
    <input type="email" name="email" id="tlemail" value="your email" class="faded" />
    <input type="hidden" value="1" name="embed" />
    <input type="submit" value="Subscribe" id="tlsubmit" />
  </form>
</div>