---
title         : Programs
bodyid        : programs
bodyclass     : landing-page
redirect_from : /program/
description   : ThoughtWorks Arts programs include Art-A-Hack, Hardware Hack Lab and the ThoughtWorks Arts Residency. Each program support artists and creative practitioners in exploring lines of inquiry intersecting technology and society.
---
<section>
	<div class="content">
		<header>
			<h1 class="programs">Programs</h1>
		</header>
		<div class="text">
			<p>ThoughtWorks Arts runs programs incubating artist and technologist collaborations, empowering investigations into impacts of emerging technologies on industry, culture and society.</p>
			<p>Art and technology partnerships present a unique and impactful approach to emerging technology research. Art provides a <a href="/blog/how-artists-reshape-emerging-technology-research/">powerful lens for engaging with technology</a>, with its freedom to make large conceptual leaps across technical, industrial and societal domains.</p>
		</div>

		{% include image.html file='/images/programs/thoughtworks-arts.png'
		   alt='ThoughtWorks Arts includes programs such as Art-A-Hack, Hardware Hack Lab and the ThoughtWorks Arts Residency'
		   class='no-border' %}

		<div class="text">
			<p>The carefully designed programmatic framework of ThoughtWorks Arts connects a varied array of creative and technical practitioners. Working together, programs such as Hardware Hack Lab, Art-A-Hack and the ThoughtWorks Arts Residency cover a wide spectrum of modes of production, mechanisms of support, and approaches to inclusion.</p>
			<p>This framework ramges from the open-access community engagement of Hardware Hack Lab, through the facilitated cross-disciplinary collaboration of Art-A-Hack, and into the deep, focused cutting-edge research of the ThoughtWorks Arts Residency.</p>

			{% include youtube.html id='yrPegku0znk'
			   caption='The art & technology behind ThoughtWorks Arts, explained'
			   class='ratio-55' %}

			<p>In his presentation at TEDxVilnius, program director Andrew McWilliams explains the evolution and structure of ThoughtWorks Arts programs, outlining incubated projects and subjects of research.</p>
			<p>Each of these three programs is outlined below to demonstrate the relationships with each other and what they are designed to achieve.</p>
		</div>

		<div class="text">
			<h2>ThoughtWorks Arts Residency</h2>
			<p>The ThoughtWorks Arts Residency program embeds artists full-time within the <a href="https://www.thoughtworks.com/">ThoughtWorks</a> global technology organization. The program includes logistical, financial, creative and technical support in the creation of a project proposed by the artist.</p>
		</div>

		{% include image.html file='/images/programs/thoughtworks-arts-residency.jpg'
		   alt='The ThoughtWorks Arts Residency is a research lab incubating artist and technologist collaborations, exploring impacts of emerging technologies on society' %}

		<div class="text">
			<p>To date the residency has incubated investigations into <a href="/projects/sentient-thespian/">movement in robotics</a>, <a href="/projects/riot/">emotion and artificial intelligence</a>, <a href="/projects/seismic-sense/">trans-humanism and cyborgism</a>, <a href="/blog/rashin-fahandej-awarded-volumtric-filmmaking-residency/">volumetric filmmaking</a> and <a href="/projects/suppressed-images/">genetic surveillance</a>.</p>
		</div>
		<div class="progress">
			<a href="/projects/" class="programs forwards">Residency projects</a>
		</div>

		<div class="text">
			<h2>Art-A-Hack</h2>
			<p>The Art-A-Hack program, run in locations including St. Petersburg, Russia and in New York City, curates and facilitates the creation of prototypes. We ‘collide’ professionals of varied backgrounds into teams, including artists, technologists, hardware and software developers, designers, musicians, filmmakers, performers, animators, and much more.</p>
		</div>

		{% include image.html file='/images/programs/art-a-hack.jpg'
		   alt='Art-A-Hack supports teams from a variety of disciplines including art, technology, hardware and software development, design, immersive environments, music, theater, animation, social justice and interactivity.' %}

		<div class="text">
			<p>Doing this enables collaboration between people who otherwise might not have the opportunity to work together. Typically, this results in an exhibitable prototype that expresses an idea or starts a journey.</p>
			<p>Projects created at Art-A-Hack have gone on to be featured by Tribeca Immersive and the Tate Museum in London.</p>
		</div>
		<div class="progress">
			<a href="https://artahack.io/projects/" class="programs forwards">Art-A-Hack projects</a>
		</div>

		<div class="text">
			<h2>Hardware Hack Lab</h2>
			<p>Started in 2013, the Hardware Hack Lab has become a staple of the New York City creative technology scene. The lab is known as a free, weekly co-working community, offering access to high-end hardware and a community with a culture of exploration.</p>
		</div>

		{% include image.html file='/images/programs/hardware-hack-lab.jpg'
		   alt='The Hardware Hack Lab is a free space for artists, hackers and innovators every week in New York City' %}

		<div class="text">
			<p>Members are encouraged to bring technology they are working on and to exchange and share with others. The lab is often visited by guests from academia, industry, technology and art, and maintains an accessible supply of VR/AR/MR, electronics equipment and devices, providing food and enabling social interaction.</p>
		</div>
		<div class="progress">
			<a href="https://hardwarehacklab.io/join/" class="programs forwards">Attend the next lab</a>
		</div>
	</div>
</section>