---
title         : Programs
bodyid        : programs
bodyclass     : landing-page
redirect_from : /program/
description   : ThoughtWorks Arts programs include Art-A-Hack, Hardware Hack Lab and the ThoughtWorks Arts Residency. Each program support artists and creative practitioners in exploring lines of inquiry intersecting technology and society.
---
<section>
	<div class="content">
		<header>
			<ul class="programs">
				<li><h1><span>Programs</span></h1></li>
				<li><a href="/team/"><span>Team</span></a></li>
			</ul>
		</header>
		<div class="text">
			<p>ThoughtWorks Arts runs programs incubating artist and technologist collaborations, empowering investigations into impacts of emerging technologies on industry, culture and society.</p>
			<p>Art and technology partnerships present a unique and <a href="/blog/how-artists-reshape-emerging-technology-research/">powerful lens for engaging with technology</a>. Art enables freedom to make large, cross-disciplinary conceptual and physical leaps across technical, scientific, industrial, creative and societal areas.</p>
		</div>

		{% include image file='/images/programs/thoughtworks-arts.png'
		   alt='ThoughtWorks Arts includes programs such as Art-A-Hack, Hardware Hack Lab and the ThoughtWorks Arts Residency'
		   class='no-border' %}

		<div class="text">
			<p>The carefully designed programs in ThoughtWorks Arts cover a wide spectrum of ways of making and thinking. This starts with the accessibility of <a href="https://hardwarehacklab.io/">Hardware Hack Lab</a>, moving into the facilitated design of <a href="https://artahack.io">Art-A-Hack</a>, and continues through to the curated and deep investigations of the <a href="https://thoughtworksarts.io/projects/">ThoughtWorks Arts Residency</a>.</p>
			<p>These programs range from complete inclusivity and open access to supportive team collaborations to innovative specificity of technical and social issues.</p>
		</div>

		{% include youtube id='yrPegku0znk' id2='G3nelyu0mbQ'
		   caption='Program directors Andrew McWilliams and Ellen Pearlman explain ThoughtWorks Arts and Art-A-Hack programs'
		   class='ratio-55' %}

		<div class="text">
			<p>ThoughtWorks Arts is directed by <a href="/bio/ellen-pearlman/">Ellen Pearlman</a> and <a href="/bio/andrew-mcwilliams/">Andrew McWilliams</a>, along with a <a href="/team/">team of experts</a> supported by the commercial <a href="https://www.thoughtworks.com/">ThoughtWorks</a> organization. Programs are run in collaboration with a global network of art and emerging technology partners, including the thousands of employees globally across ThoughtWorks.</p>
		</div>

		<div class="progress">
			<a href="/team/" class="programs forwards">Meet the team</a>
		</div>

		<div class="text">
			<h2 class="hidden">ThoughtWorks Arts Residency</h2>
			{% include image file='/images/programs/thoughtworks-arts-residency.png'
			   alt='ThoughtWorks Arts Residency'
			   class='program-logo' %}
			<p>The ThoughtWorks Arts Residency program embeds artists full-time within the <a href="https://www.thoughtworks.com/">ThoughtWorks</a> global technology organization. The program includes logistical, financial, creative and technical support in the creation of a project proposed by the artist.</p>
		</div>

		{% include image file='/images/programs/thoughtworks-arts-residency.jpg'
		   alt='The ThoughtWorks Arts Residency is a research lab incubating artist and technologist collaborations, exploring impacts of emerging technologies on society' %}

		<div class="text">
			<p>To date the residency has incubated investigations into <a href="/projects/sentient-thespian/">movement in robotics</a>, <a href="/projects/riot/">emotion and artificial intelligence</a>, <a href="/projects/seismic-sense/">trans-humanism and cyborgism</a>, <a href="/blog/rashin-fahandej-awarded-volumtric-filmmaking-residency/">volumetric filmmaking</a> and <a href="/projects/suppressed-images/">genetic surveillance</a>.</p>
		</div>
		<div class="progress">
			<a href="/projects/" class="programs forwards">Residency projects</a>
		</div>

		<div class="text">
			<h2 class="hidden">Art-A-Hack</h2>
			{% include image file='/images/programs/art-a-hack.png'
			   alt='Art-A-Hack'
			   class='program-logo wider' %}
			<p>The Art-A-Hack program, run in locations including St. Petersburg, Russia and in New York City, curates and facilitates the creation of prototypes. We ‘collide’ professionals of varied backgrounds into teams, including artists, technologists, hardware and software developers, designers, musicians, filmmakers, performers, animators, and much more.</p>
		</div>

		{% include image file='/images/programs/art-a-hack_2021.jpg'
		   alt='Art-A-Hack supports teams from a variety of disciplines including art, technology, hardware and software development, design, immersive environments, music, theater, animation, social justice and interactivity.' %}

		<div class="text">
			<p>Doing this enables collaboration between people who otherwise might not have the opportunity to work together. Typically, this results in an exhibitable prototype that expresses an idea or starts a journey.</p>
			<p>Projects created at Art-A-Hack have been featured by Tribeca Immersive, the Museum of Modern Art in New York, the Tate Exchange at the Tate Modern in London, SPRING/BREAK as part of New York's Armory Week and the RIXC Art Science Festival in Riga, Latvia.</p>
		</div>
		<div class="progress">
			<a href="https://artahack.io/projects/" class="programs forwards">Art-A-Hack projects</a>
		</div>

		<div class="text">
			<h2 class="hidden">Hardware Hack Lab</h2>
			{% include image file='/images/programs/hardware-hack-lab.png'
			   alt='Hardware Hack Lab'
			   class='program-logo' %}
			<p>Started in 2013, the Hardware Hack Lab has become a staple of the New York City creative technology scene. The lab is known as a free, weekly co-working community, offering access to high-end hardware and a community with a culture of exploration.</p>
		</div>

		{% include image file='/images/programs/hardware-hack-lab.jpg'
		   alt='The Hardware Hack Lab is a free space for artists, hackers and innovators every week in New York City' %}

		<div class="text">
			<p>Members are encouraged to bring technology they are working on and to exchange and share with others. The lab is often visited by guests from academia, industry, technology and art, and maintains an accessible supply of VR/AR/MR, electronics equipment and devices, providing food and enabling social interaction.</p>
		</div>
		<div class="progress">
			<a href="https://hardwarehacklab.io/join/" class="programs forwards">Attend the next lab</a>
		</div>

		<div class="text">
			<h2 class="hidden">Volumetric Society</h2>
			{% include image file='/images/programs/volumetric-society.png'
			   alt='Volumetric Society'
			   class='program-logo' %}
			<p>The Volumetric Society of New York is an on-going meetup that showcases emerging new media artists, offers low cost or free classes in technology to artists, and co-sponsors the Hardware Hack Lab.</p>
		</div>

		{% include image file='/images/programs/volumetric-society.jpg'
		   alt='The Volumetric Society is an eclectic group of innovators exploring the arts & sciences of a new world of natural user interfaces between body, brain, and spatially aware computing for the physical world' %}

		<div class="text">
			<p>With thousands of members, The Volumetric Society has been in existence since 2010 with its mission to engage, educate and involve new, aspiring and seasoned artists, technologists and interested parties in new media art.</p>
		</div>
		<div class="progress">
			<a href="http://meetup.com/volumetric" class="programs forwards">Join the society</a>
		</div>
	</div>
</section>
