<section class="listing-item{% if group_members.size == 2 %} double-image{% elsif group_members.size == 3 %} triple-image{% endif %} alternating">
	<div class="image">	
		<figure>
			{% if group_members.size == 2 or group_members.size == 3 %}
				{% for member in group_members %}
					<a href="{{ member.url }}"><img src="/images/people/{{ member.photo }}" /></a>
				{% endfor %}
			{% else %}
				<a href="{{ person.url }}"><img src="/images/people/{{ person.photo }}" /></a>
			{% endif %}
		</figure>
	</div>
	<div class="text">
		<h2><a href="{{ person.url }}">{{ person.name }}</a></h2>
		{% if person.role %}<p class="additional">{{ person.role }}</p>{% endif %}
		{{ person.teaser }}
	</div>
</section>