<section class="listing-item">
	<div class="image">
		<figure>
			<a href="{{ project.url }}">
				<img src="/images/projects/{{ project.projectid }}/thumb.png" alt="{{ project.thumb-alt }}" />
			</a>
		</figure>
	</div>
	<div class="text">
		<h2><a href="{{ project.url }}">{{ project.title }}</a></h2>
		<p class="additional">{{ project.artist }}</p>
		{{ project.description | markdownify }}
		<div class="progress">
			<a href="{{ project.url }}" class="projects forwards">View project</a>
		</div>
	</div>
</section>