@font-face {font-family: 'BebasNeuePro-Regular';src: url('/fonts/BebasNeuePro-Regular.eot');src: url('/fonts/BebasNeuePro-Regular.eot?#iefix') format('embedded-opentype'),url('/fonts/BebasNeuePro-Regular.woff2') format('woff2'),url('/fonts/BebasNeuePro-Regular.woff') format('woff'),url('/fonts/BebasNeuePro-Regular.ttf') format('truetype');}

// Reset adapted from html5doctor.com v1.6.1
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, a,
dl, dt, dd, ol, ul, li,
fieldset, label, form, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	font-family: 'Open Sans', sans-serif;
	color: $black;
	letter-spacing: 0.03em;
}

body {
	line-height: normal;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display: block;
}

nav ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
	content: none;
}

ins {
	background-color: $white;
	color: $black;
	text-decoration: none;
}

mark {
	background-color: $white;
	color: $black;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
	display: block;
	height: 1px;
	border: 0;   
	border-top: 1px solid $grey-mid;
	margin: 1em 0;
	padding: 0;
}

input, select {
	vertical-align: middle;
}

@-ms-viewport{
  width: device-width;
}
