$bebas: BebasNeuePro-Regular, sans-serif;

$even_larger_font: 1.3rem;
$largest_font: 1.2rem;
$large_font: 1.15rem;
$medium_font: 1.1rem;
$small_font: 1.05rem;

$standard-font: 1rem;
$smaller-font: 0.9rem;
$h1-font: 1.9rem;

$large_spacing: 0.04em;
$small_spacing: 0.03em;

$large_lineheight: 1.8em;
$small_lineheight: 1.7em;
$smallest_lineheight: 1.2em;

$white: #ffffff;
$black: #222222;
$red: #ff0000;

$maroon: #ac1f58;
$teal: #00b1c3;
$green: #4ead49;
$yellow: #f5ac1d;

$grey-lightest: #f9f9f9;
$grey-light1: #f1f1f1;
$grey-light2: #e8e8e8;
$grey-mid: #cccccc;