@import 'reset';
@import 'sitewide/base';
@import 'sitewide/header';
@import 'sitewide/footer';
@import 'pages/base';
@import 'pages/home';
@import 'pages/about';
@import 'pages/alumni';
@import 'pages/blog';