{% assign artist = site.personnel | where: "title", page.artist | first %}
{% assign project = artist.projects | where: "projectid", page.projectid | first %}
{% assign team = page.team | sort: 'lastname' %}

<h2 class="first"><span class="hide">Project </span>Team</h2><ul class="second person-list">
  {% include projects/person-item.html person=artist %}
  {% for m in team %}
    {% assign member = site.personnel | where: "title", m.name | first %}
    {% assign project = member.projects | where: "projectid", page.projectid | first %}
    {% include projects/person-item.html person=member %}
  {% endfor %}
</ul>