<h2 class="first">Team</h2>
<ul class="second person-list">
{% for person in page.artists %}
  {% assign member = site.personnel | where: "title", person.name | first %}
    <li class="person-item">
      <figure class="person">
        <a href="{{ member.url }}">
          <img src="/images/people/{{ member.photo }}" alt="{{ member.title }}">
          <figcaption>
            <h3>{{ member.title }}</h3>
            <p>{{ member.occupation }}</p>
          </figcaption>
        </a>
      </figure>
    </li>
{% endfor %}
{% assign team_members = page.teamMembers | sort: 'lastname' %}
{% for person in team_members %}
  {% assign member = site.personnel | where: "title", person.name | first %}
    <li class="person-item">
      <figure class="person">
        <a href="{{ member.url }}">
          <img src="/images/people/{{ member.photo }}" alt="{{ member.title }}">
          <figcaption>
            <h3>{{ member.title }}</h3>
            <p>{{ member.occupation }}</p>
          </figcaption>
        </a>
      </figure>
    </li>
{% endfor %}
</ul>