<figure class="first person">
  <img src="/images/people/{{ page.photo }}" alt="{{ page.title }}">
  <figcaption>
    <h3>{{ page.title }}</h3>
    <p>{{ page.occupation }}</p>
  </figcaption>
</figure>
<ul class="profile-info second">
  <li>
    <span class="key">Resident</span>
    <span class="value">Summer 2016</span>
  </li>
  <li>
    <span class="key">Project(s)</span>
    <span class="value">
      <ul class="project-list">
        <li><a href="/">Seismic Sense Seisc Sense Seismic Sense</a></li>
        <li><a href="/">Time Sense</a></li>
      </ul>
    </span>
  </li>
  <li>
    <span class="key">Website</span>
    <span class="value"><i class="fa fa-globe"></i> <a href="https://www.bla.com">www.bla.com</a></span>
  </li>
  <li>
    <span class="key">Twitter</span>
    <span class="value"><i class="fa fa-twitter"></i> <a href="http://twitter.com/handle">@handle</a></span>
  </li>
  <li>
    <span class="key">Github</span>
    <span class="value"><i class="fa fa-github"></i> <a href="http://github.com/handle">@handle</a></span>
  </li>
</table>